html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
strong, b {
  font-weight: bold;
}
em, i {
  font-style: italic;
}
a img {
  border: none;
}
/* END RESET*/

/* GLOBAL STYLES */
body {
  display: flex;
  flex-direction: column;
  /* min-height: 100vh; */
}
.content-container {
  flex-grow: 1;
  padding-top: 14vh;
  width: 100%;
}
.clickable-link {
  padding: 100vw;
}
h1, h2, h3, h4, p, span {
  font-family: 'Raleway', sans-serif;
}
.galleria { 
  width: 700px; 
  height: 400px; 
  background: #000; 
}

/* HOME STYLES */

/* HEADER STYLES */
.header {
  background-color: #fff;
  height: 12vh;
  position: fixed;
  width: 100%;
  z-index: 20;
}
.header-logo li {
  display: inline-block;
  list-style: none;
  padding: 3vh 0 0 8vw;
  position: relative;
}
.header-logo a {
  color: #4C4C4C;
  cursor: pointer;
  font-family: 'Buenard', serif;
  font-size: 3rem;
  text-decoration: none;
}
.header-nav {
  float: right;
  padding: 6.5vh 5vw 0 0;
}
.header-nav > li {
  display: inline-block;
  list-style: none;
  padding-right: 3vw;
  text-align: center;
}
.header-nav a,
.drop-trigger,
.show-mobile-menu {
  color: #4C4C4C;
  font-family: 'Buenard', serif;
  font-size: 1.2rem;
  text-decoration: none;
}
.header-nav a:hover {
  color: darkgoldenrod;
}

/* MOBILE DROPDOWN MENU */

.dropdown {
  position: relative;
}
.dropdown:hover .drop-menu {
  display: block;
}
.drop-trigger {
  display: inline-block;
  position: relative;
}
.drop-menu {
  box-shadow: 0 0 10px 0 rgba(240, 240, 240, 0.2);
  display: none;
  list-style: none;
  padding: 1em 0 0;
  position: absolute;
  right: 0;
  z-index: 9;
}
.drop-menu:before {
  border: 0.6em solid;
  border-color: transparent transparent rgb(240, 240, 240);
  content: "";
  height: 0;
  position: absolute;
  right: 1.8rem;
  top: -0.1em;
  width: 0;
}
.drop-menu li {
  background-color: rgb(240, 240, 240);
}
.drop-menu li ~ li {
  border-top: 1px dotted rgba(0,0,0,0.1)
}
.drop-menu li:first-child {
  border-radius: 5px 5px 0 0;
  padding: 0.5em 0 0;
}
.drop-menu li:last-child {
  border-radius: 0 0 5px 5px;
}
.drop-menu a {
  color: #333;
  display: block;
  font-size: 1.1rem;
  font-weight: normal;
  padding: 0.5em 2em 0.5em 1em;
  text-align: left;
  text-transform: none;
  white-space: nowrap;
}
.drop-menu a:hover {
  background-color: rgba(0,0,0,0.1);
  color: #333;
}

/* MOBILE MENU */
.mobile-menu-check,
.show-mobile-menu {
  display: none;
}

/* HIDE IN THE FOOTER */
.footer .dropdown:hover .drop-menu,
.footer .drop-trigger:after {
  display: none;
}
.footer .drop-trigger {
  padding-right: 0;
}

/* FOOTER STYLES */

.footer {
  background-color: #4C4C4C;
  width: 100%;
}
.footer-logo li {
  list-style: none;
  padding: 5vh 0 0;
  text-align: center;
}
.footer-logo a {
  color: #fff;
  cursor: pointer;
  font-family: 'Buenard', serif;
  font-size: 2.2rem;
  text-decoration: none;
}
.footer-nav {
  padding: 0vh 8vw 5vh;
  text-align: center;
}
.footer-nav li {
  display: inline-block;
  list-style: none;
}
.footer-nav li ~ li {
  padding-left: 1.5rem;
}
.footer-nav a {
  color: rgb(220, 220, 220);
  cursor: pointer;
  font-family: 'Buenard', serif;
  font-size: 1.2rem;
  text-decoration: none;
}
.footer-nav a:hover {
  color: darkgoldenrod;
}
.footer-image img {
  border-radius: 50%;
  display: inline-block;
  height: 30vh;
  left: 50%; 
  object-fit: cover;
  padding: 5vh 0;
  position: relative;
  transform: translate(-50%, 0); 
  width: 30vh;
}

/* CALLOUT: WORKS STYLES */

.callout-works {
  background-size: cover;
  box-sizing: border-box;
  flex: 1 1 auto;
  height: 81vh;
  overflow: hidden;
}
.callout-works-image {
  /* animation: fadeIn ease 10s; */
  background-image: url(../images/hero2.jpg);
  background-position: bottom center;
  margin: 0 8vw 5vh;
  transition: 4s ease-out;
}
.callout-works-content {
  font-weight: 400;
  position: relative;
  text-align: center;
  top: 80%;
}
.callout-works-content a {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}
.callout-works-content h1 {
  font-size: 2.5rem;
  padding: 0 0 3vh;
}
.callout-works-content h1:hover {
  color: rgba(255, 255, 255, 1);
}
.callout-works-content p {
  font-size: 1.3rem;
}
.callout-works-content p:hover {
  color: rgba(255, 255, 255, 1);
}

/* CALLOUT: ABOUT STYLES */

.callout-about {
  background-size: cover;
  box-sizing: border-box;
  flex: 1 1 auto;
  height: 81vh;
  overflow: hidden;
}
.callout-about-image {
  background-image: url(../images/pedro_about2.jpg);
  background-position: bottom center;
  margin: 0 8vw 5vh;
  /* transition: 5s ease-out; */
}
.callout-about-content {
  /* font-family: 'Raleway', sans-serif; */
  font-weight: 400;
  position: relative;
  text-align: center;
  top: 80%;
}
.callout-about-content a {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}
.callout-about-content h1 {
  font-size: 2.5rem;
  padding: 0 0 3vh;
}
.callout-about-content h1:hover {
  color: rgba(255, 255, 255, 1);
}
.callout-about-content p {
  font-size: 1.3rem;
}
.callout-about-content p:hover {
  color: rgba(255, 255, 255, 1);
}

/* CALLOUT: EXHIBITIONS STYLES */

.callout-exhibitions {
  background-size: auto;
  box-sizing: border-box;
  flex: 1 1 auto;
  height: 81vh;
  overflow: hidden;
}
.callout-exhibitions-image {
  background-image: url(../images/pedro_exhibitions2.jpg);
  background-position: center center;
  margin: 0 8vw 5vh;
  /* transition: 5s ease-out; */
}
.callout-exhibitions-content {
  /* font-family: 'Raleway', sans-serif; */
  font-weight: 400;
  position: relative;
  text-align: center;
  top: 80%;
}
.callout-exhibitions-content a {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
}
.callout-exhibitions-content h1 {
  font-size: 2.5rem;
  padding: 0 0 3vh;
}
.callout-exhibitions-content h1:hover {
  color: rgba(0, 0, 0, 1);
}
.callout-exhibitions-content p {
  font-size: 1.3rem;
}
.callout-exhibitions-content p:hover {
  color: rgba(0, 0, 0, 1);
}

/* WORKS PAGE STYLES */

.works-section {
  /* background-color: rgb(240, 240, 240); */
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  /* height: 88vh; */
}
.works-header,
.works-subheader {
  color: #4c4c4c;
  flex: 1 1 0;
  /* font-family: 'Raleway', sans-serif; */
  font-weight: 400;
  padding: 4vh 16vw 2vh;
  text-align: center;
}
.works-header h1 {
  font-size: 2.5rem;
  padding: 0 0 3vh;
  text-transform: uppercase;
}
.works-subheader h1 {
  font-size: 2rem;
  padding: 0 0 3vh;
  text-transform: uppercase;
}
.works-header p {
  font-size: 1.1rem;
  line-height: 1.6;
}
.works-title h3 {
  /* font-family: 'Raleway', sans-serif; */
  font-size: 1.4rem;
  text-align: center;
  top: 70%;
}
.works-title h3 a {
  color: #4c4c4c;
  font-weight: 600;
  position: relative;
  text-decoration: none;
}
.works-title h3 a:hover {
  color: darkgoldenrod;
}
.works-copy-wrapper {
  align-items: top;
  display: flex;
  flex: 1 1 0;
  padding: 2vh 0 4vh;
  width: 100%;
}
.works-box {
  align-items: center;
  flex: 1;
  margin: 0 3vw;
  /* padding: 2vh 3vh 3vh; */
}
.works-images {
  padding: 3vh 0;
  position: relative;
  text-align: center;
}
.works-images img {
  border-radius: 50%;
  height: 24vw;
  object-fit: cover;
  opacity: 1;
  width: 24vw;
}
.works-images img:hover {
  opacity: 0.8;
  transition: opacity 2s ease-out;
}

/* ART/SERIES STYLES */

.work-type-wrapper {
  display: flex;
  flex: 1 1 auto;
  width: 100%;
	margin: 0 auto;
}
.work-type-heading {
  border-top: 1px dotted rgba(0, 0, 0, 0.2);
  color: #4c4c4c;
  /* font-family: 'Raleway', sans-serif; */
  font-size: 2.5rem;
  margin: 0 6vw;
  padding: 4vh 0 0;
  text-align: center;
}
.work-type-text {
  color: #4c4c4c;
  /* font-family: 'Raleway', sans-serif; */
  font-size: 1.1rem;
  line-height: 1.6;
  padding: 3vh 20vw 0;
  text-align: center;
}
.gallery {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 4vh 0;
  width: 100%;
}
.gallery-line {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1vh 2vw;
}
.gallery-line-portrait {
  display: flex;
  margin: 1vh 2vw;
}
.gallery-item {
  /* box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4); */
  flex: 1 0 24rem;
	margin: 1rem;
  overflow: hidden;
  position: relative;
}
.gallery-item-small {
  height: 53vh;
  width: auto;
}
.gallery-item-normal {
  height: 56vh;
  width: auto;
}
.gallery-item-medium {
  height: 65vh;
  width: 100%;
}
.gallery-item-large {
  height: 68vh;
  width: auto;
}
.gallery-item-largest {
  height: 78vh;
  width: auto;
}
.gallery-item-circle {
  border-radius: 50%;
  flex: 1;
  height: 55vh;
  justify-content: center;
}
.gallery-item-dates {
  height: 68vh;
  width: auto;
}
.gallery-item-portrait {
  flex: 1;
  height: 55vh;
  justify-content: center;
}
.gallery-item-portrait-small {
  flex: 1;
  height: 50vh;
  justify-content: center;
}
.gallery-item-portrait-large {
  flex: 1;
  height: 62vh;
  justify-content: center;
}
.gallery-item-portrait-largest {
  flex: 1;
  height: 72vh;
  justify-content: center;
}
.gallery-item > a span {
  color: #4d4d4d;
  font-family: 'Raleway', sans-serif;
  left: 50%;
  line-height: 1.6;
  opacity: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}
.gallery-item-circle > a span,
.gallery-item-portrait > a span,
.gallery-item-portrait-small > a span,
.gallery-item-portrait-large > a span,
.gallery-item-portrait-largest > a span,
.gallery-item-medium > a span,
.gallery-item-normal > a span,
.gallery-item-large > a span,
.gallery-item-largest > a span {
  font-size: 1.2vw;
  font-weight: 400;
}
.gallery-item-series > a span {
  font-size: 1.6vw;
  font-weight: 600;
}
.gallery-item-dates > a span {
  font-size: 2.2vw;
  font-weight: 600;
}
.gallery-image-series {
	width: 45vw;
	height: 100%;
	object-fit: cover;
}
.gallery-image-square {
	width: 45vw;
	height: 100%;
	object-fit: unset;
}
.gallery-image-portrait,
.gallery-image-portrait-narrow {
  height: 100%;
  object-fit: unset;
  padding: 0 0.3vw;
  width: 20.3vw;
}
.gallery-image-portrait-wide {
  height: 100%;
  object-fit: unset;
  padding: 0 0.3vw;
  width: 28vw;
}
.gallery-image-circle {
  height: 100%;
  object-fit: unset;
  width: 28vw;
}
.gallery-image-small {
	width: 45vw;
	height: 100%;
	object-fit: unset;
}
.gallery-image-normal {
	width: 45vw;
	height: 100%;
	object-fit: unset;
}
.gallery-image {
  display: block;
  opacity: 1;
  transition-property: opacity, transform;
  transition-duration: 3s, 3s;
  /* transition: opacity 1s ease-in-out;
  transition: transform 4s ease-out; */
}
.gallery-image:hover {
  opacity: 0.4;
	transform: scale(1.05);
}
img.gallery-image + span /* hide spans immediately after images that are set to fade */ {
  visibility: hidden;
}
img.gallery-image:hover + span /* display spans immediately after :hover faded images */ {
  opacity: 1;
  transition-property: opacity;
  transition-duration: 1.4s;
  visibility: visible;
}

/* BIOGRAPHY LANDING PAGE STYLES */

.about-page-wrapper {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  width: 100%;
}
.about-page-heading h1 {
  color: #4c4c4c;
  font-size: 2.2rem;
  font-weight: 600;
  padding: 6vh 0 4vh;
  text-align: center;
  text-transform: uppercase;
}
.about-page-intro {
  display: flex;
  flex: 1;
  flex-direction: row-reverse;
  width: 100%;
}
.about-page-intro-text {
  flex: 1;
  margin: 4vh 8vw 4vh 2vw;
  text-align: center;
}
.about-page-intro-text li {
  display: inline-block;
  list-style: none;
}
.about-page-intro-text h1 {
  color: #4c4c4c;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 2vh 0 2vh;
  text-transform: uppercase;
}
.about-page-intro-text p {
  color: #4c4c4c;
  font-size: 1.1rem;
  font-weight: 200;
  line-height: 1.5;
  padding: 1vh 0 4vh;
}
.about-page-intro-text span {
  display: none;
}
.about-page-intro-link {
  text-decoration: none;
}
.about-page-intro-link h2:hover {
  background-color: goldenrod;
  border: 1px solid goldenrod;
}
.about-page-intro-link h2 {
  background-color: #4c4c4c;
  border: 1px solid #4c4c4c;
  color: #fff;
  padding: 1.5vh 1vw;
}
.about-page-intro-image {
  background-image: url(../images/Biography/about_intro_image.jpg);
  background-position: bottom center;
  background-size: cover;
  border-radius: 4%;
  flex: 1;
  margin: 4vh 2vw 4vh 8vw;
}
.about-page-texts {
  align-content: flex-start;
  display: flex;
  flex: 1;
  flex-direction: row;
  min-height: 74vh;
  width: 100%;
}
.about-page-texts-text {
  flex: 1;
  margin: 6vh 2vw 6vh 8vw;
  text-align: center;
}
.about-page-texts-text h1 {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
  color: #4c4c4c;
  font-size: 1.6rem;
  font-weight: 600;
  margin: 0 8vw 3vh;
  padding: 2vh 0 3vh;
  text-transform: uppercase;
}
.about-page-texts-text p {
  color: #4c4c4c;
  font-size: 1.1rem;
  font-weight: 200;
  line-height: 1.5;
  padding: 1vh 0 1vh;
}
.about-page-texts-image {
  background-image: url(../images/Biography/about_texts_image.jpg);
  background-position: center center;
  background-size: cover;
  border-radius: 4%;
  flex: 1;
  margin: 4vh 8vw 4vh 2vw;
}
.about-page-texts-link {
  display: block;
  text-decoration: none;
}
.about-page-texts-text li {
  display: inline-block;
  list-style: none;
}
.about-page-texts-link h2:hover {
  background-color: goldenrod;
  border: 1px solid goldenrod;
}
.about-page-texts-link h2 {
  background-color: #4c4c4c;
  border: 1px solid #4c4c4c;
  color: #fff;
  padding: 1.5vh 1vw;
  margin: 3vh 1vw;
}
.blog-segment h2 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 2vh;
}
.blog-segment h2 a {
  color: #4c4c4c;
  text-decoration: none;
}
.blog-segment h2 a:hover {
  color: goldenrod;
}
.about-page-archive {
  /* background-color: #ffc906; */
  display: flex;
  flex: 1;
  flex-direction: row-reverse;
  margin-bottom: 5vh;
  min-height: 74vh;
  width: 100%;
}
.about-page-archive-text {
  flex: 1;
  margin: 4vh 8vw 4vh 2vw;
  text-align: center;
}
.about-page-archive-text li {
  display: inline-block;
  list-style: none;
}
.about-page-archive-text h1 {
  color: #4c4c4c;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 2vh 0 2vh;
  text-transform: uppercase;
}
.about-page-archive-text p {
  color: #4c4c4c;
  font-size: 1.1rem;
  font-weight: 200;
  line-height: 1.5;
  padding: 1vh 0 4vh;
}
.about-page-archive-link {
  text-decoration: none;
}
.about-page-archive-link h2:hover {
  background-color: goldenrod;
  border: 1px solid goldenrod;
}
.about-page-archive-link h2 {
  background-color: #4c4c4c;
  border: 1px solid #4c4c4c;
  color: #fff;
  padding: 1.5vh 1vw;
}
.about-page-archive-image {
  background-image: url(../images/Biography/about_archive_image.jpg);
  background-position: center center;
  background-size: cover;
  border-radius: 4%;
  /* box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4); */
  flex: 1;
  margin: 4vh 2vw 4vh 8vw;
}

/* BIOGRAPHY MAIN PAGE STYLES */

.biography-wrapper {
  flex: 1 1 auto;
  flex-direction: column;
  width: 100%
}
.biography-hero-image {
  background-image: url(../images/Biography/biography_hero.jpg);
  background-position: top center;
  background-size: cover;
  height: 81vh;
  margin: 0 8vw 5vh;
  position: relative;
}
.biography-hero-content {
  font-weight: 400;
  left: 45%;
  position: absolute;
  text-align: center;
  top: 75%;
  transform: translate(-50%, -50%); 
}
.biography-hero-content h1 {
  color:rgba(0, 0, 0, 0.5);
  font-size: 2.8rem;
  font-weight: 200;
}
.generic-main-content {
  color: #000;
  line-height: 1.8;
  margin: 2vh 27vw 5vh;
  text-align: center;
}
.generic-main-content h1 {
  color: #4c4c4c;
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
  font-size: 1.6rem;
  font-weight: 600;
  margin: 3vh 10vw 8vh;
  padding: 3vh 0 5vh;
}
.generic-main-content p {
  font-size: 1.05rem;
  font-weight: 200;
  padding: 0 0 3vh;
  text-align: justify;
}
.generic-main-content span {
  font-weight: 400;
}
.generic-main-content h2 {
  font-weight: 600;;
  padding-bottom: 2vh;
}
/* BLOG PAGE(S) STYLES */
.page {
  margin: 6vh auto 15vh;
  max-width: 980px;
  width: 85vw;
}
.page p {
  font-size: 1rem;
  line-height: 1.8;
}
.page h1 {
  color: #4c4c4c;
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 4vh;
  padding: 4vh 4vw;
  text-align: center;
  text-transform: uppercase;
}
.page h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 2vh;
}
.page h2 a {
  color: #4c4c4c;
  text-decoration: none;
}
.page h2 a:hover {
  color: goldenrod;
}
.page h4 {
  color: #4c4c4c;
  font-weight: 600;
  margin-bottom: 4vh;
  text-transform: uppercase;
}
.col-two {
  display: flex;
}
.col-two .col-aside {
  flex: 0 0 20em;
  order: 1;
}
.col-two .col-content {
  flex: 1;
}
.blog-recent {
  padding-top: 2vh;
  text-align: right;
}
.blog-title-list {
  list-style: none;
  padding: 0;
}
.blog-title-list li ~ li {
  margin-top: 2.5vh;
}
.blog-title-list span {
  color: #4c4c4c;
  display: block;
  font-family: 'Raleway', sans-serif;
  font-size: 0.8em;
  margin-top: 0.5em;
}
.blog-title-list a {
  color: #4c4c4c;
  display: block;
  font-family: 'Raleway', sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 1.3vh;
  text-decoration: none;
}
.blog-title-list a:hover {
  color: goldenrod;
}
.blog-posts ~ .blog-posts {
  border-top: 1px dotted rgba(0, 0, 0, 0.1);
  margin-top: 6vh;
  padding-top: 6vh;
}
.blog-posts .post-header {
  font-size: 0.8rem;
}
.post-header {
  margin-bottom: 3vh;
}
.post-header img,
.post-header .social-link {
  margin-right: 0.7vw;
}
.post-header img {
  border-radius: 99px;
  display: inline-block;
  height: 6vh;
  vertical-align: middle;
}
.post-byline span {
  font-family: 'Raleway', sans-serif;
}
.posts-image {
  background-position: center center;
  background-size: cover;
  height: 30vh;
  margin-bottom: 3vh;
}
.posts-link a {
  display: inline-block;
  padding: 3vh 0 0;
  text-decoration: none;
}
.posts-link h2 {
  background-color: #4c4c4c;
  border: 1px solid #4c4c4c;
  color: #fff;
  font-size: 1rem;
  padding: 1.5vh 1vw;
}
.posts-link h2:hover {
  background-color: goldenrod;
  border: 1px solid goldenrod;
}
.post {
  width: 100%;
}
.post h1 {
  padding: 3vh 4vw 0;
}
.half-hero {
  background-position: center center;
  background-size: cover;
  height: 40vh;
  margin: 5vh 20vw 0;
}
.post-content,
.post-footer {
  text-align: justify;
  margin: auto;
  max-width: 40em;
  width: 85vw;
}
.pull-left {
  float: left;
  margin: 2em 2em 2em -2%;
}
.pull-right {
  float: right;
  margin: 2em -2% 2em 2em
}
.post-aside {
  background-color: rgba(0, 0, 0, 0.01);
  float: right;
  margin: 0 0 2em 2em;
  padding: 2em;
}
.post .post-header {
  margin-bottom: 2.5em;
  text-align: center;
}
.post-content {
  font-size: 1.1rem;
}
.post-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  /* font-style: italic; */
  font-size: 0.8em;
  margin-top: 3em;
  padding-top: 2em;
  text-align: center;
}

/* MEDIA PAGE STYLES */

.media-wrapper {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  width: 100%
}
.photo-gallery {
  flex: 1;
  padding: 5vh 0;
  margin: 10px 50px 0;
  text-align: center;
}
.video-gallery {
  flex: 1;
  padding: 5vh 0;
  margin: 10px 50px 0;
  text-align: center;
}
.photo-gallery img {
  transition: 1s;
  padding: 15px;
  width: 200px;
}
h2 {
  font-size: 1.1rem;
  margin: 2vh 0;
  text-align: center;
}



/* EXHBITION LANDING PAGE STYLES */

.exhibitions-wrapper {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  text-align: center;
  width: 100%;
}
.upcoming-exhibitions-image {
  background-position: center center;
  background-image: url(../images/Exhibitions/exhibition_hero.jpg);
  background-size: contain;
  flex: 1;
  margin: 2vh 8vw 5vh 8vw;
  min-height: 81vh;
  opacity: 0.4;
}
.upcoming-exhibitions-content {
  background-color: goldenrod;
  display: block;
  left: 50%;
  opacity: 0.8;
  padding: 3vh 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}
.upcoming-exhibitions-content h1 {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 600;
  opacity: 0.8;
  padding: 2vh 0;
  text-transform: uppercase;
}
.upcoming-exhibitions-content h2 {
  background-color: #fff;
  border: 1px solid #fff;
  color: goldenrod;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 400;
  opacity: 0.8;
  padding: 2vh 2vw;
  text-transform: uppercase;
}
.upcoming-exhibitions-content h3 {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 200;
  opacity: 0.8;
  padding: 2vh 0;
}
.exhibitions-lists-wrapper {
  display: flex;
  flex: 1 1 0;
  flex-direction: row;
  text-align: center;
  width: 100%;
}
.exhibitions-individual {
  background-position: center center;
  background-image: url(../images/Exhibitions/individual.jpg);
  background-size: contain;
  flex: 1;
  margin: 2vh 1.5vw 5vh 8vw;
  min-height: 81vh;
  opacity: 0.8;
  text-decoration: none;
}
.exhibitions-individual h1 {
  background-color: goldenrod;
  color: #fff;
  display: block;
  font-size: 1.5rem;
  font-weight: 600;
  left: 50%;
  opacity: 0.9;
  padding: 2vh 0;
  position: relative;
  text-transform: uppercase;
  top: 8%;
  transform: translate(-50%, -50%);
  width: 105%;
}
.exhibitions-collective {
  background-position: center center;
  background-image: url(../images/Exhibitions/collective.jpg);
  background-size: contain;
  flex: 1;
  margin: 2vh 8vw 5vh 1.5vw;
  min-height: 81vh;
  opacity: 0.8;
  text-decoration: none;
}
.exhibitions-collective h1 {
  background-color: goldenrod;
  color: #fff;
  display: block;
  font-size: 1.5rem;
  font-weight: 600;
  left: 50%;
  opacity: 0.9;
  padding: 2vh 0;
  position: relative;
  text-transform: uppercase;
  top: 8%;
  transform: translate(-50%, -50%);
  width: 105%;
}
.exhibitions-museum {
  background-position: center center;
  background-image: url(../images/Exhibitions/collection_hero.jpg);
  background-size: contain;
  flex: 1;
  margin: 2vh 8vw 5vh 8vw;
  min-height: 81vh;
  opacity: 0.8;
  text-decoration: none;
}
.exhibitions-museum h1 {
  background-color: goldenrod;
  color: #fff;
  display: block;
  font-size: 1.5rem;
  font-weight: 600;
  left: 50%;
  opacity: 0.9;
  padding: 2vh 0;
  position: relative;
  text-transform: uppercase;
  top: 8%;
  transform: translate(-50%, -50%);
  width: 105%;
}

/* EXHBITION SUBPAGE STYLES */

.exhibition-subpage-wrapper {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  text-align: center;
  width: 100%;
}
.exhibition-subpage-individual-images {
  display: flex;
  flex: 1 1 10px;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  width: 100%;
}
.exhibition-subpage-content {
  flex: 1;
  text-align: center;
  width: 100;
}

/* REVIEWS LANDING PAGE STYLES */

.reviews-wrapper {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  text-align: center;
  width: 100%;
}
.reviews-lists-wrapper {
  display: flex;
  flex: 1 1 0;
  flex-direction: row;
  text-align: center;
  width: 100%;
}
.reviews-bibliografia {
  background-position: center center;
  background-image: url(../images/Reviews/bibliography_hero.jpg);
  background-size: contain;
  flex: 1;
  margin: 2vh 1.5vw 5vh 8vw;
  min-height: 81vh;
  opacity: 0.8;
  text-decoration: none;
}
.reviews-bibliografia h1 {
  background-color: goldenrod;
  color: #fff;
  display: block;
  font-size: 1.5rem;
  font-weight: 600;
  left: 50%;
  opacity: 0.9;
  padding: 2vh 0;
  position: relative;
  text-transform: uppercase;
  top: 8%;
  transform: translate(-50%, -50%);
  width: 105%;
}
.reviews-resenas {
  background-position: center center;
  background-image: url(../images/Exhibitions/collective.jpg);
  background-size: contain;
  flex: 1;
  margin: 2vh 8vw 5vh 1.5vw;
  min-height: 81vh;
  opacity: 0.8;
  text-decoration: none;
}
.reviews-resenas h1 {
  background-color: goldenrod;
  color: #fff;
  display: block;
  font-size: 1.5rem;
  font-weight: 600;
  left: 50%;
  opacity: 0.9;
  padding: 2vh 0;
  position: relative;
  text-transform: uppercase;
  top: 8%;
  transform: translate(-50%, -50%);
  width: 105%;
}

/* CONTACT FORM STYLES */

.contact-wrapper {
  align-content: flex-start;
  display: flex;
  flex: 1 1 0;
  flex-direction: row;
  text-align: center;
  width: 100%;
}
.contact-image {
  background-position: center bottom;
  background-image: url(../images/pedro_studio.jpg);
  background-size: cover;
  flex: 2 1 0;
  margin: 2vh 0 5vh 8vw;
}
.contact-copy {
  box-sizing: border-box;
  flex: 3 1 0;
  padding: 2vh 4vw 5vh 4vw;
}
.contact-copy h1 {
  color: #4c4c4c;
  font-size: 2.2rem;
  font-weight: 600;
}
.contact-copy p {
  color: #4c4c4c;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 2vh 4vw 1vh;
}
.contact-copy-text {
  padding: 0 0 2vh;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], input[type=email], input[type=message], input[type=tel], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #4c4c4c; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 1.8vh; /* Add a top margin */
  margin-bottom: 3vh; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
button[type=submit] {
  background-color: #4c4c4c;
  color: white;
  padding: 12px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

/* When moving the mouse over the submit button, add a darker green color */
button[type=submit]:hover {
  background-color: darkgoldenrod;
}

/* Add a background color and some padding around the form */
.contact-copy-form{
  border-radius: 5px;
  background-color: #fff;
  padding: 0 14vw;

}
label {
  font-family: 'Raleway', Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 200;
}


@media (max-width: 1000px) {
 
  /* TABLET HEADER STYLES */

  .header-logo a {
    font-size: 6vw;
  }

  /* TABLET MOBILE MENU */
  .show-mobile-menu {
    display: block;
    float: right;
    font-size: 5vw;
    margin-top: 1.5vh;
    padding: 4vh 10vw 0 0;
    position: relative;
  }
  .header-nav {
    background-color: #4c4c4c;
    box-sizing: border-box;
    left: 0;
    max-height: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 12vh;
    transition: all 0.5s ease-in-out;
    width: 100vw;
    z-index: 9;
  }
  .header-nav li {
    display: block;
    margin-top: 1em;
  }
  .header-nav li {
    border: 0;
    padding: 0;
  }
  .header-nav li:first-child {
    margin-top: 3vh;
  }
  .header-nav li:last-child {
    margin-bottom: 3vh;
  }
  .header-nav li a {
    color: #fff;
    font-family: 'Raleway', sans-serif;;
    font-size: 4.5vw;
    font-weight: 200;
  }
  /* HIDE DROPDOWN IN THE NAV MENU */
  .header-nav .dropdown:hover .drop-menu,
  .header-nav .drop-trigger:after {
    display: none;
  }
  .header-nav .drop-trigger {
    padding-right: 0;
  }
  .mobile-menu-check:checked ~ .header-nav {
    max-height: 1000px;
  }

}

@media (max-width: 800px) {

  /* MOBILE HEADER STYLES */

.header-logo a {
  font-size: 11vw;
}

  /* MOBILE CALLOUT: WORKS STYLES */

.callout-works-image {
  transition: none;
}
.callout-works-content {
  top: 88%;
}
.callout-works-content h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 7vw;
  padding: 0 0 3vh;
}
.callout-works-content p {
  display: none;
}
.callout-works-content p:hover {
  color: rgba(255, 255, 255, 1);
}

/* MOBILE CALLOUT: ABOUT STYLES */

.callout-about {
  background-size: cover;
}
.callout-about-image {
  background-image: url(../images/pedro_studio_upscaled_image_x4.jpg);
  background-position: center center;
}
.callout-about-content {
  top: 88%;
}
.callout-about-content a {
  color: rgba(0, 0, 0, 0.8);
}
.callout-about-content h1 {
  font-size: 8vw;
}
.callout-about-content p {
  display: none;
}


/* MOBILE CALLOUT: EXHIBITIONS STYLES */

.callout-exhibitions-content {
  top: 88%;
}
.callout-exhibitions-content a {
  color: rgba(0, 0, 0, 0.8);
}
.callout-exhibitions-content h1 {
  font-size: 8vw;
}
.callout-exhibitions-content h1 span {
  display: none;
}
.callout-exhibitions-content p {
  display: none;
}

/* MOBILE FOOTER STYLES */

.footer-nav {
  padding: 0vh 8vw 8vh;
  text-align: center;
}
.footer-nav li {
  display: inline-block;
  list-style: none;
}
.footer-nav li ~ li {
  padding-left: 0;
}
.footer-nav a {
  border: 1px solid #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 6vw;
  font-weight: 200;
  padding: 10px;
  text-transform: uppercase;
}
.footer-nav .hide {
  display: none;
}
.footer-image img {
  border-radius: 50%;
  display: inline-block;
  height: 25vh;
  left: 50%; 
  object-fit: cover;
  padding: 5vh 0;
  position: relative;
  transform: translate(-50%, 0); 
  width: 25vh;
}

/* WORKS MOBILE PAGE STYLES */

.works-header {
  padding: 3vh 5vw;
}
.works-subheader {
  padding: 2vh 5vw;
}
.works-header h1 {
  font-size: 8vw;
}
.works-subheader h1 {
  font-size: 7vw;
}
.works-header p {
  font-size: 4.2vw;
  line-height: 1.6;
}
.works-subheader p {
  font-size: 4vw;
  line-height: 1.6;
}
.works-title h3 {
  /* border-bottom: 1px dotted rgba(76, 76, 76, 0.2); */
  font-size: 7vw;
  margin: 0 12vw;
  padding: 4vh 0 6vh;
}
.works-title h3 a {
  font-weight: 400;
}
.works-copy-wrapper {
  align-items: top;
  flex-direction: column;
  padding: 2vh 0 4vh;
}
.works-images {
  padding: 3vh 0 0;
}
.works-images img {
  height: 66vw;
  width: 66vw;
}

/* PAINTINGS MOBILE LANDING PAGE STYLES */

.paintings-heading {
  font-size: 7vw;
  padding: 3vh 16vw 0;
}
.work-type-text {
  font-size: 4.5vw;
  line-height: 1.5;
  padding: 3vh 5vw 3vh;
}
.work-type-heading {
  font-size: 2rem;
  line-height: 1.2;
}
.gallery {
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
	margin: 4vh 0;
}
.gallery-line {
  flex-direction: column;
  margin: 0 0;
}
.gallery-line-portrait {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hide-in-mobile{
  display: none;
}
.gallery-item {
  flex: 1 1 auto;
  /* margin: 0 0 24px; */
	margin: 0 4vw 2vh;
}
.gallery-item-series {
  margin: 2vh 0;
}
.gallery-item-portrait {
  flex: 1 0 auto;
  height: 62vh;
  margin: 0 4vw 8vh;
}
.gallery-item-circle {
  border-radius: initial;
  height: 70vh;
  margin: 0 4vw 2vh;
}
.gallery-item-circle img {
  border-radius: 50%;
  margin: 0 auto;
}
.gallery-item-portrait-large {
  flex: 1 0 auto;
  height: 80vh;
  margin: 0 4vw 4vh;
}
.gallery-item-portrait-largest {
  flex: 1 0 auto;
  height: 86vh;
  margin: 0 4vw 5vh;
}

.gallery-item-large > a span,
.gallery-item-largest > a span {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  color: #4c4c4c;
  font-size: 4vw;
  font-weight: 600;
  left: 0%;
  margin: 0 0;
  opacity: 0.8;
  padding: 2vh 0 3vh;
  position: absolute;
  top: 62%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.gallery-item-normal > a span {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
  color: #4c4c4c;
  font-size: 4vw;
  font-weight: 600;
  left: 0%;
  opacity: 0.8;
  padding: 0 0 4vh;
  position: absolute;
  top: 64%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.gallery-item-portrait > a span,
.gallery-item-portrait-small > a span {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.5);
  color: #4c4c4c;
  font-size: 4vw;
  font-weight: 600;
  left: 0%;
  margin: 0 0;
  opacity: 0.8;
  padding-bottom: 4vh;
  position: absolute;
  top: 70%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.gallery-item-circle > a span {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.5);
  color: #4c4c4c;
  font-size: 4vw;
  font-weight: 600;
  left: 0%;
  margin: 0 0;
  opacity: 0.8;
  padding-bottom: 4vh;
  position: absolute;
  top: 70%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.gallery-item-portrait-largest > a span {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.5);
  color: #4c4c4c;
  font-size: 4vw;
  font-weight: 600;
  left: 0%;
  margin: 0 0;
  opacity: 0.8;
  padding-bottom: 4vh;
  position: absolute;
  top: 78%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.gallery-item-portrait-large > a span {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.5);
  color: #4c4c4c;
  font-size: 4vw;
  font-weight: 600;
  left: 0%;
  margin: 0 0;
  opacity: 0.8;
  padding-bottom: 4vh;
  position: absolute;
  top: 70%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.gallery-item-small > a span {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  color: #4c4c4c;
  font-size: 4vw;
  font-weight: 600;
  left: 0%;
  margin: 0 0;
  opacity: 0.8;
  padding: 0 0 6vh;
  position: absolute;
  top: 60%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.gallery-item-medium > a span {
  background-color: rgba(255, 255, 255, 0.6);
  color: rgba(0, 0, 0, 0.8);
  font-size: 4.2vw;
  font-weight: 600;
  left: 0%;
  margin: 0 0;
  opacity: 0.8;
  padding: 1vh 0;
  position: absolute;
  text-align: center;
  top: 5%;
  transform: translate(-50%, -50%);
  width: 92%;
}
.gallery-item-dates > a span {
  background-color: rgba(255, 255, 255, 0.6);
  color: rgba(0, 0, 0, 0.8);
  font-size: 6vw;
  font-weight: 600;
  left: 0%;
  margin: 0 0;
  opacity: 0.8;
  padding: 1vh 0;
  position: absolute;
  top: 4%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.gallery-item-series > a span {
  background-color: rgba(255, 255, 255, 0.6);
  color: rgba(0, 0, 0, 0.8);
  font-size: 3.8vw;
  font-weight: 400;
  left: 0%;
  margin: 0 0;
  opacity: 0.8;
  padding: 1vh 0;
  position: absolute;
  top: 5%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.gallery-image-series {
  width: 85vw;
  height: 100%;
}
.gallery-image-square {
  width: 100%;
  height: 60%;
}
.gallery-image-large, 
.gallery-image-largest {
  width: 100%;
  height: auto;
}
.gallery-image-normal,
.gallery-image-landscape {
  width: 100%;
  height: 60%;
}
.gallery-image-portrait {
	width: auto;
  height: 40vh;
  text-align: center;
}
.gallery-image-portrait-large {
	width: auto;
  height: 52vh;
  text-align: center;
}
.gallery-image-portrait-wide {
  height: 60vh;
  width: auto;
}
.gallery-image-portrait-narrow {
  height: 60vh;
  width: 30vh;
}
.gallery-image-small {
	width: 100%;
  height: 55%;
}
.gallery-image-circle {
	width: 90%;
  height: auto;
}
.gallery-image {
  transform: none;
  transition: none;
}
.gallery-image:hover {
  opacity: 1;
  transform: none;
}
img.gallery-image + span /* hide spans immediately after images that are set to fade */ {
  visibility:visible;
  transform: none;
}

.contact-wrapper {
  flex-direction: column-reverse;
}
.contact-image {
  background-position: center center;
  background-size: cover;
  margin: 0 3vw 2vh;
  min-height: 35vh;
}
.contact-copy {
  flex: 1 1 0;
  padding: 3vh 4vw 5vh 4vw;
}
.contact-copy h1 {
  font-size: 8vw;
}
.contact-copy p {
  font-size: 4.5vw;
  padding: 3vh 3vw 3vh;
}

/* CONTACT FORM MOBILE STYLES */

.contact-wrapper {
  flex-direction: column;
}
.contact-image {
  flex: 1 1 0;
  margin: 0 4vw 5vh;
}
.contact-copy {
  flex: 1 1 0;
  padding: 1vh 4vw 5vh 4vw;
}
.contact-copy h1 {
  font-size: 8vw;
  font-weight: 600;
}
.contact-copy p {
  font-size: 4.4vw;
  padding: 2vh 3vw 3vh;
}

/* BIOGRAPHY MOBILE PAGE STYLES */

.about-page-heading h1 {
  display: none;
}
.about-page-intro {
  background-color: #e6e6e6;
  flex-direction: column-reverse;
}
.about-page-intro-text {
  margin: 0 2vw 4vh 2vw;
}
.about-page-intro-text h1 {
  font-size: 1.6rem;
  padding: 0 0 4vh;
}
.about-page-intro-text p {
  display: none;
}
.about-page-intro-text span {
  color: #4c4c4c;
  display: inline-block;
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.5;
  padding: 0 3vw 4vh;
}
.about-page-intro-link h2 {
  font-size: 4vw;
  padding: 1.5vh 2vw;
}
.about-page-intro-image {
  background-position: center center;
  min-height: 35vh;
  margin: 4vh 5vw;
}
.about-page-texts {
  background-color: rgb(245, 245, 245);
  flex-direction: column-reverse;
}
.about-page-texts-text {
  margin: 0 2vw 4vh 2vw;
}
.about-page-texts-text h1 {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
  font-size: 1.6rem;
  padding: 0 0 4vh;
}
.about-page-texts-text h2 {
  padding: 4vh 0 0;
}
.about-page-texts-text h2 {
  padding: 4vh 0 0;
}
.about-page-texts-text p {
  display: none;
}
.about-page-texts-image {
  min-height: 35vh;
  margin: 4vh 5vw;
}
.about-page-texts-link h2 {
  font-size: 4vw;
  padding: 1.5vh 2vw;
}
.display-none {
  display: none;
}
.light-text {
  font-weight: 200;
}
.about-page-archive {
  background-color: #e6e6e6;
  flex-direction: column-reverse;
  margin-bottom: 0;
}
.about-page-archive-text {
  margin: 0 2vw 4vh 2vw;
}
.about-page-archive-text h1 {
  font-size: 1.6rem;
  padding: 0 0 4vh;
}
.about-page-archive-text p {
  font-size: 1rem;
  padding: 1vh 3vw 4vh;
}
.about-page-archive-link h2 {
  font-size: 4vw;
  padding: 1.5vh 2vw;
}
.about-page-archive-image {
  min-height: 35vh;
  margin: 4vh 5vw;
}

/* BIOGRAPHY MAIN PAGE MOBILE STYLES */

.biography-hero-image {
  height: 60vh;
}
.biography-hero-content {
  left: 50%;
  top: 93%;
}
.biography-hero-content h1 {
  font-size: 2.4rem;
}
.generic-main-content {
  line-height: 1.8;
  margin: 1vh 0 5vh;
  text-align: center;
}
.generic-main-content h1 {
  border-bottom: 2px dotted rgba(0, 0, 0, 0.5);
  font-size: 1.4rem;
  font-weight: 400;
  margin: 3vh 15vw 8vh;
  padding: 2vh 0 4vh;
}
.generic-main-content p {
  font-size: 1.05rem;
  padding: 0 5vw 3vh;
}

/* BLOG PAGE(S) MOBILE STYLES */
.page {
  margin: 2vh auto 5vh;
  width: 90vw;
}
.page p {
  font-size: 1.1rem;
  line-height: 1.6;
}
.page h1 {
  font-size: 8vw;
  margin-bottom: 4vh;
  padding: 1vh 0;
}
.page h2 {
  font-size: 6vw;
  margin: 4vh 0 2vh;
  text-align: center;
}
.page h4 {
  border: 1px solid #4c4c4c;
  display: inline-block;
  font-size: 4.5vw;
  font-weight: 400;
  padding: 2vh 3vw;
}
.col-two {
  display: flex;
  flex-direction: column-reverse;
}
.col-two .col-aside {
  flex: 0 0 20em;
  order: 1;
}
.col-two .col-content {
  flex: 1;
}
.blog-recent {
  background-color: #e6e6e6;
  padding-top: 4vh;
  text-align: center;
}
.blog-posts .post-header {
  text-align: center;
}
.blog-posts p {
  padding: 2vh 3vw 0;
  text-align: center;
}
.post-header {
  margin-bottom: 3vh;
}
.post-header img {
  margin-right: 2vw;
}
.post-header img {
  height: 7vh;
}
.posts-image {
  margin: 2vh 0 0;
}
.posts-link {
  text-align: center;
}
.posts-link a {
  padding: 0 0 0;
}
.posts-link h2 {
  font-size: 3.5vw;
  padding: 1.5vh 3vw;
}
.post h1 {
  padding: 3vh 4vw 0;
}
.half-hero {
  height: 35vh;
  margin: 5vh 4vw 0;
}
.post-content,
.post-footer {
  margin: 2vh 4vw;
  max-width: 85vw;
  width: 85vw;
}
.pull-left {
  float: none;
  margin: 0;
  max-width: 85vw;
  padding: 2vh 0;
  text-align: center;
}
.pull-right {
  float: none;
  margin: 0;
  max-width: 85vw;
  padding: 2vh 0;
  text-align: center;
}
.post-aside {
  background-color: rgba(0, 0, 0, 0.05);
}

/* MEDIA PAGE STYLES */

.photo-gallery {
  padding: 0 0 2vh;
  margin: 10px 0 0;
}
.photo-gallery img {
  width: 80vw;
}
.video-gallery {
  position: relative;
  width: 100%;
  margin: 10px 0 10vh;
  padding-bottom: 56.25%; 
  height: 0;
  text-align: center;
}
.video-gallery iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* EXHBITION LANDING MOBILE PAGE STYLES */

.exhibitions-wrapper {
  flex-direction: column;
  width: 100vw;
}
.upcoming-exhibitions-image {
  background-size: cover;
  margin: 2vh 0 0 0;
  min-height: 60vh;
}
.upcoming-exhibitions-content {
  padding: 3vh 0;
  top: 45%;
  width: 90vw;
}
.upcoming-exhibitions-content h1 {
  font-size: 6.5vw;
  padding: 2vh 0;
}
.upcoming-exhibitions-content h2 {
  font-size: 5vw;
  padding: 2vh 2vw;
}
.upcoming-exhibitions-content h3 {
  font-size: 4.2vw;
  padding: 2vh 0;
}
.exhibitions-lists-wrapper {
  flex-direction: column;
  text-align: center;
  width: 100vw;
}
.exhibitions-individual {
  background-size: contain;
  margin: 7vh 0 0 0;
  min-height: 50vh;
}
.exhibitions-individual h1 {
  font-size: 6vw;
  padding: 2vh 0;
  width: 100%;
}
.exhibitions-collective {
  background-size: contain;
  margin: 7vh 0 0 0;
  min-height: 50vh;
}
.exhibitions-collective h1 {
  font-size: 6vw;
  padding: 2vh 0;
  width: 100%;
}
.exhibitions-museum {
  background-size: cover;
  margin: 7vh 0 5vh 0;
  min-height: 50vh;
}
.exhibitions-museum h1 {
  font-size: 6vw;
  padding: 2vh 0;
  width: 100%;
}

/* EXHBITION SUBPAGE MOBILE STYLES */

.exhibition-subpage-individual-images {
  display: none;
}
.generic-main-content {
  padding: 0 5vw;
}
}
