html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
strong, b {
  font-weight: bold;
}
em, i {
  font-style: italic;
}
a img {
  border: none;
}
/* END RESET*/

/* GLOBAL STYLES */
body {
  display: flex;
  flex-direction: column;
  /* min-height: 100vh; */
}
.content-container {
  flex-grow: 1;
  padding-top: 14vh;
  width: 100%;
  padding-bottom: 4vh;
}
.center {
  text-align: center;
}
.justify {
  text-align: justify;
}
.clickable-link {
  padding: 100vw;
}
h1, h2, h3, h4, p, span, blockquote {
  font-family: 'Raleway', sans-serif;
}
a {
  text-decoration: none;
}
.galleria { 
  width: 700px; 
  height: 400px; 
  background: #000; 
}
.portrait-photo-gallery {
  flex: 1;
  padding: 3vh 0 0;
  margin: 10px 50px 0;
  text-align: center;
}
.portrait-photo-gallery img {
  height: 20vh;
  transition: 1s;
  padding: 15px;
  width: auto;
}
.landscape-photo-gallery {
  flex: 1;
  padding: 3vh 0 0;
  margin: 10px 50px 0;
  text-align: center;
}
.landscape-photo-gallery img {
  height: 150px;
  transition: 1s;
  padding: 15px;
  width: 200px;
}
.generic-main-content {
  color: #000;
  line-height: 1.8;
  margin: 2vh 20vw 5vh;
  text-align: center;
}
.generic-main-content h1 {
  color: #4c4c4c;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.5);
  font-size: 1.8rem;
  font-weight: 600;
  margin: 3vh 10vw 8vh;
  padding: 3vh 0 5vh;
}
.generic-main-content p {
  font-size: 1.05rem;
  font-weight: 200;
  padding: 0 0 3vh;
}
.generic-main-content span {
  font-weight: 400;
}
.generic-main-content h2 {
  font-weight: 600;;
  padding-bottom: 2vh;
}


/* HEADER STYLES */

.header {
  align-items: flex-end;
  background-color: #fff;
  display: flex;
  flex-direction: row-reverse;
  height: 12vh;
  padding-bottom: 3vh;
  position: fixed;
  width: 100%;
  z-index: 20;
}
.header-logo {
  flex: 1 1 0;
  margin-left: 8vw;
}
.header-logo li {
  border: 2px solid #4c4c4c;
  display: inline-block;
  list-style: none;
  position: relative;
  padding: 6px;
  margin-bottom: -1vh;
  text-transform: uppercase;
}
.header-logo a {
  color: #4C4C4C;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
  text-decoration: none;
}
.header-nav {
  flex: 1 1 0;
  margin-right: 8vw;
}
.header-nav > li {
  display: inline-block;
  list-style: none;
  padding-right: 2vw;
  text-align: center;
}
.header-nav > li:last-child {
  padding-right: 0;
}
.header-nav a,
.drop-trigger,
.show-mobile-menu {
  color: #4C4C4C;
  font-family: 'Raleway', sans-serif;
  font-size: 1.1rem;
  text-decoration: none;
}
.header-nav a:hover {
  color: darkgoldenrod;
}

/* MOBILE DROPDOWN MENU */

.dropdown {
  position: relative;
}
.dropdown:hover .drop-menu {
  display: block;
}
.drop-trigger {
  display: inline-block;
  position: relative;
}
.drop-menu {
  box-shadow: 0 0 10px 0 rgba(240, 240, 240, 0.2);
  display: none;
  list-style: none;
  padding: 1em 0 0;
  position: absolute;
  right: 0;
  z-index: 9;
}
.drop-menu:before {
  border: 0.6em solid;
  border-color: transparent transparent rgb(240, 240, 240);
  content: "";
  height: 0;
  position: absolute;
  right: 1.8rem;
  top: -0.1em;
  width: 0;
}
.drop-menu li {
  background-color: rgb(240, 240, 240);
}
.drop-menu li ~ li {
  border-top: 1px dotted rgba(0,0,0,0.1)
}
.drop-menu li:first-child {
  border-radius: 5px 5px 0 0;
  padding: 0.5em 0 0;
}
.drop-menu li:last-child {
  border-radius: 0 0 5px 5px;
}
.drop-menu a {
  color: #333;
  display: block;
  font-size: 1.1rem;
  font-weight: normal;
  padding: 0.5em 2em 0.5em 1em;
  text-align: left;
  text-transform: none;
  white-space: nowrap;
}
.drop-menu a:hover {
  background-color: rgba(0,0,0,0.1);
  color: #333;
}

/* MOBILE MENU */
.mobile-menu-check,
.show-mobile-menu {
  display: none;
}

/* HIDE IN THE FOOTER */
.footer .dropdown:hover .drop-menu,
.footer .drop-trigger:after {
  display: none;
}
.footer .drop-trigger {
  padding-right: 0;
}

/* FOOTER STYLES */

.footer {
  background-color: #4C4C4C;
  width: 100%;
}
.footer-logo li {
  list-style: none;
  padding: 5vh 0 0;
  text-align: center;
}
.footer-logo a {
  color: #fff;
  cursor: pointer;
  font-family: 'Buenard', serif;
  font-size: 2.2rem;
  text-decoration: none;
}
.footer-nav {
  padding: 0vh 8vw 5vh;
  text-align: center;
}
.footer-nav li {
  display: inline-block;
  list-style: none;
}
.footer-nav li ~ li {
  padding-left: 1.5rem;
}
.footer-nav a {
  color: rgb(220, 220, 220);
  cursor: pointer;
  font-family: 'Buenard', serif;
  font-size: 1.2rem;
  text-decoration: none;
}
.works-title {
  margin: 0 0 4vh;
}
.footer-nav a:hover {
  color: darkgoldenrod;
}
.footer-image img {
  border-radius: 50%;
  display: inline-block;
  height: 10rem;
  left: 50%; 
  object-fit: cover;
  padding: 5vh 0;
  position: relative;
  transform: translate(-50%, 0); 
  width: 10rem;
}

/* CALLOUT STYLES */

.callout-section {
  background-size: cover;
  box-sizing: border-box;
  flex: 1 1 auto;
  height: 81vh;
  overflow: hidden;
  position: relative;
}
.callout-works-image {
  background-image: url(../images/New_Images/Small_Images/Imagen\ para\ inicio-min.JPG);
  background-position: center center;
  margin: 0 8vw 5vh;
  /* transition: 4s ease-out; */
}
.callout-about-image {
  background-image: url(../images/pedro_about2.jpg);
  background-position: bottom center;
  margin: 0 8vw 5vh;
}
.callout-exhibitions-image {
  background-image: url(../images/pedro_exhibitions2.jpg);
  background-position: center center;
  margin: 0 8vw 5vh;
}
.callout-section-content {
  font-weight: 400;
  position: relative;
  text-align: center;
  top: 85%;
}
.callout-section-content a {
  text-decoration: none;
}
.callout-section-content h1 {
  font-size: 2.5rem;
  padding: 0 0 3vh;
}
.callout-section-content p {
  font-size: 1.3rem;
}
.fade-in {
  animation: fadeIn ease 10s;
  -webkit-animation: fadeIn ease 10s;
  -moz-animation: fadeIn ease 10s;
  -o-animation: fadeIn ease 10s;
  -ms-animation: fadeIn ease 10s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.light-content h1,
.light-content p {
  color: rgba(255, 255, 255, 0.7);
}
.light-content h1:hover,
.light-content p:hover {
  color: rgba(255, 255, 255, 1);
}
.dark-content h1,
.dark-content p {
  color: rgba(0, 0, 0, 0.7);
}
.dark-content h1:hover,
.dark-content p:hover {
  color: rgba(0, 0, 0, 1);
}

blockquote {
  position: absolute;
  left: 50%;
  text-align: center;
  top: 40%;
  transform: translate(-50%, -50%);
  word-wrap: none;
}
blockquote q {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 5vw;
  font-weight: 400;
  letter-spacing: .02rem;
  line-height: 0.2;
  opacity: 0.7;
}
blockquote q span { 
  will-change: opacity, filter;
  opacity: 0;
  filter: blur(0px);
}


/* WORKS PAGE STYLES */

.works-section {
  /* background-color: rgb(240, 240, 240); */
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  /* height: 88vh; */
}
.works-header,
.works-subheader {
  color: #4c4c4c;
  flex: 1 1 0;
  /* font-family: 'Raleway', sans-serif; */
  font-weight: 400;
  padding: 4vh 16vw 2vh;
  text-align: center;
}
.works-header h1 {
  font-size: 2.5rem;
  padding: 0 0 3vh;
  text-transform: uppercase;
}
.works-subheader h1 {
  font-size: 2rem;
  padding: 0 0 3vh;
  text-transform: uppercase;
}
.works-header p {
  font-size: 1.2rem;
  font-weight: 200;
  line-height: 1.6;
  margin-bottom: 4vh;
}
.works-title {
  margin: 0 0 4vh;
}
.works-title h3 {
  background-color: #fff;
  font-size: 1.4rem;
  left: 50%;
  opacity: 0.7;
  padding: 3vh 0;
  position: absolute;
  top: 20%;
  text-align: center;
  transform: translate(-50%, -50%);
  width: 32vw;
}
.works-title h3 a {
  color: #4c4c4c;
  font-size: 1.4rem;
  font-weight: 600;
  text-decoration: none;
}
.works-title h3 a:hover {
  color: darkgoldenrod;
  opacity: 0.8;
}
.works-copy-wrapper {
  display: flex;
  flex: 1 1 0;
  flex-wrap: wrap;
  padding: 0 10vw 0;
  width: auto;
}
.works-box {
  align-items: center;
  flex: 1;
  margin: 0 3vw;
  position: relative;
  /* padding: 2vh 3vh 3vh; */
}
.works-images {
  padding: 3vh 0 1vh;
  position: relative;
  text-align: center;
}
.works-images img {
  border-radius: 50%;
  height: 28vw;
  object-fit: cover;
  opacity: 1;
  width: 28vw;
}
.works-images img:hover {
  transition: opacity 2s ease-out;
}

/* ART/SERIES STYLES */

.work-type-wrapper {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  text-align: center;
  width: 100%;
}
.work-type-heading {
  border-top: 1px dotted rgba(0, 0, 0, 0.2);
  color: #4c4c4c;
  /* font-family: 'Raleway', sans-serif; */
  font-size: 2.5rem;
  font-weight: 600;
  margin: 2vh 6vw;
  padding: 4vh 0 0;
  text-align: center;
}
.work-type-text {
  color: #4c4c4c;
  /* font-family: 'Raleway', sans-serif; */
  font-size: 1.1rem;
  line-height: 1.6;
  padding: 3vh 25vw 0;
  text-align: center;
}
.latest-series-image {
  background-position: center center;
  background-image: url(../images/paintings/2009-2020/2016-2020_main/incertidumbre/incertidumbre_1ab.JPG);
  background-size: contain;
  flex: 1;
  margin: 2vh 8vw 3vh 8vw;
  min-height: 81vh;
  opacity: 0.7;
}
.latest-series-content {
  background-color: #4c4c4c;
  display: block;
  left: 50%;
  opacity: 0.8;
  padding: 3vh 0;
  position: absolute;
  top: 60%;
  transform: translate(-50%, -50%);
  width: 90%;
}
.latest-series-content h1 {
  background-color: #fff;
  border: 1px solid #fff;
  color: #4c4c4c;
  display: inline-block;
  font-size: 2.5rem;
  font-weight: 600;
  opacity: 0.8;
  padding: 2vh 2vw;
  text-transform: uppercase;
}
.latest-series-content h2 {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  opacity: 0.8;
  padding: 0 2vw;
  text-transform: uppercase;
}
.latest-series-content h3 {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 200;
  opacity: 0.8;
  padding: 2vh 0;
}
.sub-series-content {
  background-color: #4c4c4c;
  display: block;
  left: 50%;
  opacity: 0.8;
  padding: 2vh 0;
  position: absolute;
  text-align: center;
  top: 125%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.sub-series-content h1 {
  background-color: #fff;
  border: 1px solid #fff;
  color: #4c4c4c;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 600;
  opacity: 0.8;
  padding: 2vh 2vw;
  text-transform: uppercase;
}
.sub-series-content h2 {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 400;
  opacity: 0.8;
  padding: 0 2vw;
  text-transform: uppercase; 
}
.sub-series-content h3 {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  opacity: 0.8;
  padding: 2vh 0 0;
}
.series-wrapper {
  align-items: flex-start;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  margin: 0 7vw 14vh;
  width: auto;
}
.series-link-item {
  flex: 1 1 24rem;
  min-height: 40vh;
  margin: 0 1vw 3vh;
  opacity: 0.9;
  position: relative;
  text-decoration: none;
  /* width: 30vw; */
}
.second-series-image {
  background-position: center center;
  background-image: url(../images/paintings/1993-2006_main/narcisista_5_s.jpg);
  background-size: contain;
}
.third-series-image {
  background-position: center center;
  background-image: url(../images/paintings/1988-1994_main/landscape-min.JPG);
  background-size: cover;
}
.fourth-series-image {
  background-position: center center;
  background-image: url(../images/paintings/1984-1989_main/compressed_images/presencia_1_l.jpg);
  background-size: cover;
}
.gallery {
  /* align-items: center; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 4vh 0;
  width: 100%;
}
.gallery-line {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  margin: 1vh 8vw;
}
.gallery-item {
  flex: 1 1 24rem;
	margin: 1rem;
  overflow: hidden;
  position: relative;
  width: 40%;
}
.gallery-item-normal {
  height: 60vh;
  width: auto;
}
.gallery-item-dates,
.gallery-item-text {
  height: 68vh;
  width: auto;
}
.gallery-item-portrait {
  flex: 1;
  height: 70vh;
  width: 28vw;
  justify-content: center;
}
.gallery-item-portrait-large {
  flex: 1;
  height: 82vh;
  width: 28vw;
  justify-content: center;
}
.gallery-item > a span {
  color: #4d4d4d;
  font-family: 'Raleway', sans-serif;
  left: 50%;
  line-height: 1.6;
  opacity: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}
.gallery-item-portrait > a span,
.gallery-item-portrait-small > a span,
.gallery-item-portrait-large > a span,
.gallery-item-portrait-largest > a span,
.gallery-item-medium > a span,
.gallery-item-normal > a span,
.gallery-item-large > a span,
.gallery-item-largest > a span {
  font-size: 1.3vw;
  font-weight: 600;
}
.gallery-item-series > a span {
  font-size: 1.6vw;
  font-weight: 600;
}
.gallery-item-dates > a span {
  font-size: 2.2vw;
  font-weight: 600;
}
.gallery-item-text > a span {
  font-size: 1.4rem;
  font-weight: 600;
}
.gallery-image-series {
	width: 45vw;
	height: 100%;
	object-fit: cover;
}
.gallery-image-square {
  max-width: 100%;
	width: auto;
	height: 100%;
  object-fit: unset;
  margin: 0 auto;
}
.gallery-image-portrait,
.gallery-image-portrait-large {
  height: auto;
  object-fit: cover;
  padding: 0 0.3vw;
  width: 100%;
}
.gallery-image {
  display: block;
  opacity: 1;
  transition-property: opacity, transform;
  transition-duration: 3s, 3s;
  /* transition: opacity 1s ease-in-out;
  transition: transform 4s ease-out; */
}
.gallery-image:hover {
  opacity: 0.3;
	transform: scale(1.05);
}
img.gallery-image + span /* hide spans immediately after images that are set to fade */ {
  visibility: hidden;
}
img.gallery-image:hover + span /* display spans immediately after :hover faded images */ {
  opacity: 1;
  transition-property: opacity;
  transition-duration: 1s;
  visibility: visible;
}

/* BIOGRAPHY MAIN PAGE STYLES */

.biography-wrapper {
  flex: 1 1 auto;
  flex-direction: column;
  width: 100%
}
.biography-hero-image {
  background-image: url(../images/Biography/biography_hero.jpg);
  background-position: top center;
  background-size: cover;
  height: 81vh;
  margin: 0 8vw 5vh;
  position: relative;
}
.biography-hero-content {
  font-weight: 400;
  left: 45%;
  position: absolute;
  text-align: center;
  top: 75%;
  transform: translate(-50%, -50%); 
}
.biography-hero-content h1 {
  color:rgba(0, 0, 0, 0.5);
  font-size: 2.8rem;
  font-weight: 200;
}
/* BLOG PAGE(S) STYLES */
.page {
  margin: 6vh auto 15vh;
  max-width: 980px;
  width: 85vw;
}
.page p {
  font-size: 1rem;
  line-height: 1.8;
}
.page h1 {
  color: #4c4c4c;
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 4vh;
  padding: 4vh 4vw;
  text-align: center;
  text-transform: uppercase;
}
.page h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 2vh;
}
.page h2 a {
  color: #4c4c4c;
  text-decoration: none;
}
.page h2 a:hover {
  color: goldenrod;
}
.page h4 {
  color: #4c4c4c;
  font-weight: 600;
  margin-bottom: 4vh;
  text-transform: uppercase;
}
.col-two {
  display: flex;
}
.col-two .col-aside {
  flex: 0 0 20em;
  order: 1;
}
.col-two .col-content {
  flex: 1;
}
.blog-recent {
  padding-top: 2vh;
  text-align: right;
}
.blog-title-list {
  list-style: none;
  padding: 0;
}
.blog-title-list li ~ li {
  margin-top: 2.5vh;
}
.blog-title-list span {
  color: #4c4c4c;
  display: block;
  font-family: 'Raleway', sans-serif;
  font-size: 0.8em;
  margin-top: 0.5em;
}
.blog-title-list a {
  color: #4c4c4c;
  display: block;
  font-family: 'Raleway', sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 1.3vh;
  text-decoration: none;
}
.blog-title-list a:hover {
  color: goldenrod;
}
.blog-posts ~ .blog-posts {
  border-top: 1px dotted rgba(0, 0, 0, 0.1);
  margin-top: 6vh;
  padding-top: 6vh;
}
.blog-posts .post-header {
  font-size: 0.8rem;
}
.post-header {
  margin-bottom: 3vh;
}
.post-header img,
.post-header .social-link {
  margin-right: 0.7vw;
}
.post-header img {
  border-radius: 99px;
  display: inline-block;
  height: 6vh;
  vertical-align: middle;
}
.post-byline span {
  font-family: 'Raleway', sans-serif;
}
.posts-image {
  background-position: center center;
  background-size: cover;
  height: 30vh;
  margin-bottom: 3vh;
}
.posts-link a {
  display: inline-block;
  padding: 3vh 0 0;
  text-decoration: none;
}
.posts-link h2 {
  background-color: #4c4c4c;
  border: 1px solid #4c4c4c;
  color: #fff;
  font-size: 1rem;
  padding: 1.5vh 1vw;
}
.posts-link h2:hover {
  background-color: goldenrod;
  border: 1px solid goldenrod;
}
.post {
  width: 100%;
}
.post h1 {
  padding: 3vh 4vw 0;
}
.half-hero {
  background-position: center center;
  background-size: cover;
  height: 40vh;
  margin: 5vh 20vw 0;
}
.post-content,
.post-footer {
  text-align: justify;
  margin: auto;
  max-width: 40em;
  width: 85vw;
}
.pull-left {
  float: left;
  margin: 2em 2em 2em -2%;
}
.pull-right {
  float: right;
  margin: 2em -2% 2em 2em
}
.post-aside {
  background-color: rgba(0, 0, 0, 0.01);
  float: right;
  margin: 0 0 2em 2em;
  padding: 2em;
}
.post .post-header {
  margin-bottom: 2.5em;
  text-align: center;
}
.post-content {
  font-size: 1.1rem;
}
.post-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  /* font-style: italic; */
  font-size: 0.8em;
  margin-top: 3em;
  padding-top: 2em;
  text-align: center;
}

/* MEDIA PAGE STYLES */

.media-wrapper {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  width: 100%
}
.photo-gallery {
  flex: 1;
  padding: 1vh 0;
  margin: 10px 50px 0;
  text-align: center;
}
.video-gallery {
  flex: 1;
  padding: 3vh 0 5vh;
  margin: 10px 50px 0;
  text-align: center;
}
.photo-gallery img {
  height: auto;
  transition: 1s;
  padding: 15px;
  width: 18vw;
}
h2 {
  font-size: 1.1rem;
  margin: 2vh 0;
  text-align: center;
}

/* EXHBITION LANDING PAGE STYLES */

.exhibitions-wrapper {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  text-align: center;
  width: 100%;
}
.upcoming-exhibitions-image {
  background-position: center center;
  background-image: url(../images/Exhibitions/exhibition_hero.jpg);
  background-size: contain;
  flex: 1;
  margin: 2vh 8vw 5vh 8vw;
  min-height: 81vh;
  opacity: 0.4;
}
.upcoming-exhibitions-content {
  background-color: goldenrod;
  display: block;
  left: 50%;
  opacity: 0.8;
  padding: 3vh 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}
.upcoming-exhibitions-content h1 {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 600;
  opacity: 0.8;
  padding: 2vh 0;
  text-transform: uppercase;
}
.upcoming-exhibitions-content h2 {
  background-color: #fff;
  border: 1px solid #fff;
  color: goldenrod;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 400;
  opacity: 0.8;
  padding: 2vh 2vw;
  text-transform: uppercase;
}
.upcoming-exhibitions-content h3 {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 200;
  opacity: 0.8;
  padding: 2vh 0;
}
.exhibitions-lists-wrapper {
  display: flex;
  flex: 1 1 0;
  flex-direction: row;
  text-align: center;
  width: 100%;
}
.exhibitions-lists-wrapper-single {
  display: flex;
  flex: 1 1 0;
  text-align: center;
  width: 100%;
}
.exhibitions-individual {
  background-position: center center;
  background-image: url(../images/Exhibitions/individual.jpg);
  background-size: contain;
  flex: 1;
  margin: 2vh 1.5vw 5vh 8vw;
  min-height: 81vh;
  opacity: 0.8;
  text-decoration: none;
}
.exhibitions-individual h1 {
  background-color: goldenrod;
  color: #fff;
  display: block;
  font-size: 1.5rem;
  font-weight: 600;
  left: 50%;
  opacity: 0.9;
  padding: 2vh 0;
  position: relative;
  text-transform: uppercase;
  top: 8%;
  transform: translate(-50%, -50%);
  width: 105%;
}
.exhibitions-collective {
  background-position: center center;
  background-image: url(../images/Exhibitions/collective.jpg);
  background-size: contain;
  flex: 1;
  margin: 2vh 8vw 5vh 1.5vw;
  min-height: 81vh;
  opacity: 0.8;
  text-decoration: none;
}
.exhibitions-collective h1 {
  background-color: goldenrod;
  color: #fff;
  display: block;
  font-size: 1.5rem;
  font-weight: 600;
  left: 50%;
  opacity: 0.9;
  padding: 2vh 0;
  position: relative;
  text-transform: uppercase;
  top: 8%;
  transform: translate(-50%, -50%);
  width: 105%;
}
.exhibitions-museum {
  background-position: center center;
  background-image: url(../images/Exhibitions/collection_hero.jpg);
  background-size: contain;
  flex: 1;
  margin: 2vh 8vw 5vh 8vw;
  min-height: 81vh;
  opacity: 0.8;
  text-decoration: none;
}
.exhibitions-museum h1 {
  background-color: goldenrod;
  color: #fff;
  display: block;
  font-size: 1.5rem;
  font-weight: 600;
  left: 50%;
  opacity: 0.9;
  padding: 2vh 0;
  position: relative;
  text-transform: uppercase;
  top: 8%;
  transform: translate(-50%, -50%);
  width: 105%;
}



/* CRITICAS LANDING PAGE STYLES */

.reviews-wrapper {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  text-align: center;
  width: 100%;
}
.reviews-lists-wrapper {
  display: flex;
  flex: 1 1 0;
  flex-direction: row;
  text-align: center;
  width: 100%;
}
.reviews-bibliografia {
  background-position: center center;
  background-image: url(../images/Reviews/bibliography_hero.jpg);
  background-size: contain;
  flex: 1;
  margin: 2vh 1.5vw 5vh 8vw;
  min-height: 81vh;
  opacity: 0.8;
  text-decoration: none;
}
.reviews-bibliografia h1 {
  background-color: goldenrod;
  color: #fff;
  display: block;
  font-size: 1.5rem;
  font-weight: 600;
  left: 50%;
  opacity: 0.9;
  padding: 2vh 0;
  position: relative;
  text-transform: uppercase;
  top: 8%;
  transform: translate(-50%, -50%);
  width: 105%;
}
.reviews-resenas {
  background-position: center center;
  background-image: url(../images/Exhibitions/collective.jpg);
  background-size: contain;
  flex: 1;
  margin: 2vh 8vw 5vh 1.5vw;
  min-height: 81vh;
  opacity: 0.8;
  text-decoration: none;
}
.reviews-resenas h1 {
  background-color: goldenrod;
  color: #fff;
  display: block;
  font-size: 1.5rem;
  font-weight: 600;
  left: 50%;
  opacity: 0.9;
  padding: 2vh 0;
  position: relative;
  text-transform: uppercase;
  top: 8%;
  transform: translate(-50%, -50%);
  width: 105%;
}

/* CRITICAS MAIN PAGE */

.accordion-container {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  margin-bottom: 4vh;
  text-align: center;
  width: 100%;
}
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0 8vw 2vh;
  padding: 18px;
  text-align: center;
  border: none;
  outline: none;
  transition: 0.4s;
  width: auto;
}
.accordion span {
  font-size: 1rem;
  font-weight: 200;
}
.accordion:first-child {
  margin-top: 4vh;
}
.active, .accordion:hover {
  background-color: #ccc;
}
.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}
.panel h1 {
  color: #4c4c4c;
  font-size: 2rem;
  font-weight: 600;
  margin: 0 0 3vh;
  padding: 3vh 0;
  text-align: center;
}
.panel h2 {
  color: #4c4c4c;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 1vh 4vw;
  padding: 3vh 0;
  text-align: center;
}
.panel p {
  font-size: 1.1rem;
  font-weight: 200;
  line-height: 1.8;
  padding: 0 25vw 3vh;
  text-align: justify;
}
.panel blockquote {
  border: 2px solid goldenrod;
  font-size: 1.1rem;
  font-weight: 200;
  line-height: 1.8;
  margin: 1vh 30vw 4vh;
  padding: 2vh 2vw;
  text-align: center;
}
blockquote span {
  font-size: 1rem;
  font-weight: 400;
}
.fa-quote-left {
  color: goldenrod;
  font-size: 3vw;
  padding: 0 1vw 0 0
}
/* CONTACT FORM STYLES */

.contact-wrapper {
  align-content: flex-start;
  display: flex;
  flex: 1 1 0;
  flex-direction: row;
  text-align: center;
  width: 100%;
}
.contact-image {
  background-position: center bottom;
  background-image: url(../images/pedro_studio.jpg);
  background-size: cover;
  flex: 2 1 0;
  margin: 2vh 0 5vh 8vw;
}
.contact-copy {
  box-sizing: border-box;
  flex: 3 1 0;
  padding: 2vh 4vw 5vh 4vw;
}
.contact-copy h1 {
  color: #4c4c4c;
  font-size: 2.2rem;
  font-weight: 600;
}
.contact-copy p {
  color: #4c4c4c;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 2vh 4vw 1vh;
}
.contact-copy-text {
  padding: 0 0 2vh;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], input[type=email], input[type=message], input[type=tel], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #4c4c4c; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 1.8vh; /* Add a top margin */
  margin-bottom: 3vh; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
button[type=submit] {
  background-color: #4c4c4c;
  color: white;
  padding: 12px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

/* When moving the mouse over the submit button, add a darker green color */
button[type=submit]:hover {
  background-color: darkgoldenrod;
}

/* Add a background color and some padding around the form */
.contact-copy-form{
  border-radius: 5px;
  background-color: #fff;
  padding: 0 14vw;

}
label {
  font-family: 'Raleway', Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 200;
}

/* MEDIUM - TABLET DEVICES */

@media (max-width: 1025px) {

  .hide-in-tablet {
    display: none;
  }
  .generic-main-content {
    flex: 1;
    margin: 2vh 15vw 5vh;
  }
  .generic-main-content h1 {
    border-bottom: 1px dotted rgba(0, 0, 0, 0.5);
    font-size: 4.5vw;
    margin: 2vh 0 8vh;
    padding: 3vh 0 5vh;
  }
  .generic-main-content p {
    font-size: 3vw;
    font-weight: 200;
  }
  .generic-main-content span {
    font-weight: 400;
  }
  .generic-main-content h2 {
    font-size: 3.5vw;
    padding-bottom: 2vh;
  }

  /* TABLET HEADER STYLES */

  .header-logo a {
    font-size: 5vh;
    /* margin-top: 6vh; */
  } 
  .drop-trigger,
  .show-mobile-menu {
  font-size: 0.9rem;
}

  /* TABLET MOBILE MENU */
  .show-mobile-menu {
    display: block;
    float: right;
    font-size: 5vh;
    /* margin-top: 4.5vh; */
    padding: 0 10vw 0 0;
    position: relative;
  }
  .header-nav {
    background-color: #4c4c4c;
    box-sizing: border-box;
    left: 0;
    max-height: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 15vh;
    transition: all 0.5s ease-in-out;
    width: 100vw;
    z-index: 9;
  }
  .header-nav li {
    display: block;
    margin-top: 1.5em;
  }
  .header-nav li {
    border: 0;
    padding: 0;
  }
  .header-nav li:first-child {
    margin-top: 3vh;
  }
  .header-nav li:last-child {
    margin-bottom: 3vh;
  }
  .header-nav li a {
    color: #fff;
    font-family: 'Raleway', sans-serif;;
    font-size: 4vw;
    font-weight: 200;
  }
  /* HIDE DROPDOWN IN THE NAV MENU */
  .header-nav .dropdown:hover .drop-menu,
  .header-nav .drop-trigger:after {
    display: none;
  }
  .header-nav .drop-trigger {
    padding-right: 0;
  }
  .mobile-menu-check:checked ~ .header-nav {
    max-height: 1000px;
  }

  /* TABLET CALLOUT STYLES */

.callout-works-image {
  transition: none;
}
.callout-section-content {
  top: 90%;
}
.callout-section-content h1 {
  font-size: 6vh
}
.callout-section-content p {
  display: none;
}
.callout-about-image {
  background-image: url(../images/pedro_studio_upscaled_image_x4.jpg);
  background-position: center center;
}
.light-to-dark h1,
.light-to-dark p {
  color: rgba(0, 0, 0, 0.7);
}
.light-to-dark h1:hover,
.light-to-dark p:hover {
  color: rgba(0, 0, 0, 1);
}
blockquote {
  top: 22%;
}
blockquote q {
  font-size: 7vw;
  font-weight: 400;;
  opacity: 0.9;
}

  /* WORKS PAGE TABLET */

  .works-images {
    padding: 0;
  }
  .works-images img {
    height: 37vw;
    width: 37vw;
  }
  .works-copy-wrapper {
    padding: 0 6vw 0;
  }
  .works-title h3 {
    padding: 2vh 0;
    top: 22%;
    width: 40vw;
  }
  .works-title h3 a {
    font-size: 3vw;
    /* text-transform: uppercase; */
  }
  .works-header {
    padding: 3vh 14vw;
  }
  .works-header h1 {
    font-size: 8vw;
  }
  .works-header p {
    font-size: 2.8vw;
  }
  .works-subheader {
    padding: 2vh 18vw 0;
  }
  .works-subheader h1 {
    font-size: 4rem;
  }
  .works-subheader p {
    font-size: 2.8vw;
    line-height: 1.6;
  }

/* PAINTINGS TABLET LANDING PAGE STYLES */

.paintings-heading {
  font-size: 7vw;
  padding: 3vh 16vw 0;
}
.work-type-text {
  font-size: 3vw;
  line-height: 1.5;
  padding: 2vh 13vw 1vh;
}
.work-type-heading {
  font-size: 5.5vw;
  font-weight: 600;
  line-height: 1.2;
}
.latest-series-image {
  margin: 2vh 8vw 3vh 8vw;
  min-height: 40vh;
  opacity: 0.7;
}
.latest-series-content {
  padding: 1vh 0;
  top: 35%;
}
.latest-series-content h1 {
  font-size: 4vw;
  padding: 1vh 2vw;
  text-transform: uppercase;
}
.latest-series-content h2 {
  font-size: 3vw;
}
.latest-series-content h3 {
  font-size: 2.5vw;
  padding: 2vh 0;
}
.sub-series-content {
  padding: 2vh 0;
  top: 78%;
  width: 70%;
}
.sub-series-content h1 {
  font-size: 3vw;
  padding: 2vh 2vw;
}
.sub-series-content h2 {
  font-size: 1.2rem;
  padding: 0 2vw;
}
.sub-series-content h3 {
  font-size: 2.5vw;
  padding: 1vh 0 0;
}
.series-wrapper {
  flex-direction: column;
  justify-content: center;
  margin: 0 10vw;
}
.series-link-item {
  height: 38vh;
  margin: 0 0 3vh;
  width: 100%;
}
.second-series-image {
  background-image: url(../images/paintings/1993-2006_main/murmullos_2_l.jpg);
  background-size: cover;
}
.third-series-image {
  background-image: url(../images/paintings/1988-1994_main/landscape_2-min.JPG);
  background-size: cover;
}
.gallery {
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
	margin: 4vh 0;
}
.gallery-line {
  flex-direction: column;
  margin: 0 0;
}
.gallery-item {
  flex: 1 1 auto;
	margin: 0 4vw 2vh;
}
.gallery-item-portrait {
  flex: 1 0 auto;
  height: 62vh;
  margin: 0 4vw 8vh;
  width: 50vw;
}
.gallery-item-normal > a span {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
  color: #4c4c4c;
  font-size: 3vw;
  font-weight: 600;
  left: 0%;
  opacity: 0.8;
  padding: 0 0 4vh;
  position: absolute;
  top: 64%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.gallery-item-portrait > a span {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.5);
  color: #4c4c4c;
  font-size: 3vw;
  font-weight: 600;
  left: 0%;
  margin: 0 0;
  opacity: 0.8;
  padding-bottom: 4vh;
  position: absolute;
  top: 70%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.gallery-item-dates > a span {
  background-color: rgba(255, 255, 255, 0.6);
  color: rgba(0, 0, 0, 0.8);
  font-size: 5vw;
  font-weight: 600;
  left: 0%;
  margin: 0 0;
  opacity: 0.8;
  padding: 1vh 0;
  position: absolute;
  top: 4%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.gallery-item-text > a span {
  background-color: rgba(255, 255, 255, 0.6);
  color: rgba(0, 0, 0, 0.8);
  font-size: 3.5vw;
  font-weight: 600;
  left: 0%;
  margin: 0 0;
  opacity: 0.8;
  padding: 1vh 0;
  position: absolute;
  top: 4%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.gallery-item-series > a span {
  background-color: rgba(255, 255, 255, 0.6);
  color: rgba(0, 0, 0, 0.8);
  font-size: 3.8vw;
  font-weight: 400;
  left: 0%;
  margin: 0 0;
  opacity: 0.8;
  padding: 1vh 0;
  position: absolute;
  top: 5%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.gallery-image-series {
  width: 85vw;
  height: 100%;
}
.gallery-image-square {
  width: auto;
  height: 60%;
}
.gallery-image-portrait {
	width: auto;
  height: 40vh;
  text-align: center;
  margin: 0 auto;
}

.gallery-image {
  transform: none;
  transition: none;
}
.gallery-image:hover {
  opacity: 1;
  transform: none;
}
img.gallery-image + span /* hide spans immediately after images that are set to fade */ {
  visibility:visible;
  transform: none;
}

/* BIOGRAPHY TABLET PAGE STYLES */

.biography-hero-image {
  height: 70vh;
}
.biography-hero-content {
  left: 50%;
  top: 93%;
}
.biography-hero-content h1 {
  font-size: 6vw;
  font-weight: 600;
}
.portrait-photo-gallery {
  flex: 1;
  padding: 3vh 0 0;
  margin: 10px 0 0;
  text-align: center;
}
.portrait-photo-gallery img {
  height: 35vh;
  transition: 1s;
  padding: 0 1vw;
  width: auto;
}

/* EXHBITION LANDING TABLET PAGE STYLES */

.upcoming-exhibitions-image {
  margin: 0 4vw 1vh 4vw;
  min-height: 41vh;
}
.upcoming-exhibitions-content {
  left: 50%;
  padding: 1vh 0;
  top: 35%;
  width: 98%;
}
.upcoming-exhibitions-content h1 {
  font-size: 6.5vw;
  padding: 2vh 0 0;
}
.upcoming-exhibitions-content h2 {
  font-size: 4.5vw;
  padding: 2vh 2vw;
}
.upcoming-exhibitions-content h3 {
  font-size: 3.5vw;
  font-weight: 400;
  padding: 0 0 2vh;
}
.exhibitions-lists-wrapper, 
.exhibitions-lists-wrapper-single {
  display: flex;
  flex: 1 1 0;
  flex-direction: row;
  text-align: center;
  width: 100%;
}
.exhibitions-individual {
  margin: 1vh 1.5vw 1vh 4vw;
  min-height: 41vh;
}
.exhibitions-individual h1 {
  font-size: 2.5vw;
  top: 10%;
  width: 90%;
}
.exhibitions-collective {
  margin: 1vh 4vw 1vh 1.5vw;
  min-height: 41vh;
}
.exhibitions-collective h1 {
  background-color: #4c4c4c;
  font-size: 2.5vw;
  top: 10%;
  width: 90%;
}
.exhibitions-museum {
  margin: 1vh 4vw 4vh;
  min-height: 41vh;
}
.exhibitions-museum h1 {
  font-size: 2.5vw;
  top: 15%;
  width: 90%;
}

/* CRITICAS TABLET MAIN PAGE */

.accordion {
  font-size: 3vw;
}
.accordion span {
  font-size: 2.3vw;
}
.panel h1 {
  font-size: 3.5vw;
}
.panel h2 {
  font-size: 2.4vw;
}
.panel p {
  font-size: 2.5vw;
  padding: 0 12vw 3vh;
}
.panel blockquote {
  font-size: 2.5vw;
  margin: 1vh 16vw 4vh;
}
blockquote span {
  font-size: 2.2vw;
}

/* CONTACT FORM TABLET */

.contact-wrapper {
  flex-direction: column;
}
.contact-image {
  background-position: center center;
  background-size: cover;
  margin: 0 3vw 2vh;
  min-height: 35vh;
}
.contact-copy {
  flex: 1 1 0;
  padding: 3vh 4vw 5vh 4vw;
}
.contact-copy h1 {
  font-size: 5vw;
}
.contact-copy p {
  font-size: 3.5vw;
  padding: 3vh 8vw 3vh;
}
.contact-copy-form{
  padding: 0 18vw;
}
input[type=text], input[type=email], input[type=message], input[type=tel], select, textarea {
  padding: 24px; /* Some padding */ 
  margin-top: 2vh; /* Add a top margin */
  margin-bottom: 3vh; /* Bottom margin */
}
button[type=submit] {
  font-size: 2.5vw;
}
label {
  font-size: 2.5vw;
  font-weight: 400;
}

}


/* X-SMALL: PORTRAIT MOBILE STYLES */
/* MAX-WIDTH: 575px */

@media (max-width: 575px) {

.hide-in-mobile {
  display: none;
}
.generic-main-content {
  margin: 2vh 8vw 5vh;
}
.generic-main-content h1 {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.5);
  font-size: 7vw;
  margin: 4vh 4vw 8vh;
  padding: 0 0 5vh;
}
.generic-main-content p {
  font-size: 4vw;
  font-weight: 200;
}
.generic-main-content span {
  font-weight: 400;
}
.generic-main-content h2 {
  font-size: 5vw;
  padding-bottom: 1vh;
}
.portrait-photo-gallery {
  margin: 0;
}
.portrait-photo-gallery img {
  height: 81vh;
  padding: 0 0 2vh;
}

  /* 1-M-P MOBILE HEADER STYLES */

.header {
  height: 14vh;
}
.header-logo a {
  font-size: 7vw;
}
.header-nav a,
.drop-trigger,
.show-mobile-menu {
  font-size: 1rem;
}

/* MOBILE MENU */
.show-mobile-menu {
  display: block;
  float: right;
  font-size: 4vh;
  /* margin-top: 5.5vh; */
  padding: 0 10vw 0 0;
  position: relative;
}
.header-nav li {
  margin-top: 1em;
}
.header-nav li a {
  font-size: 4.5vw;
}

/* MOBILE FOOTER STYLES */

.footer-nav {
  padding: 0vh 8vw 8vh;
  text-align: center;
}
.footer-nav li {
  display: inline-block;
  list-style: none;
}
.footer-nav li ~ li {
  padding-left: 0;
}
.footer-nav a {
  border: 1px solid #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 6vw;
  font-weight: 200;
  padding: 10px;
  text-transform: uppercase;
}
.footer-nav .hide {
  display: none;
}
.footer-image img {
  border-radius: 50%;
  display: inline-block;
  height: 25vh;
  left: 50%; 
  object-fit: cover;
  padding: 5vh 0;
  position: relative;
  transform: translate(-50%, 0); 
  width: 25vh;
}

/* CALLOUT MOBILE PAGE STYLES */

.callout-section-content {
  top: 90%;
}
.callout-section-content h1 {
  font-size: 8.5vw;
}
.callout-section-content p {
  display: none;
}
blockquote q {
  font-size: 10vw;
  font-weight: 400;;
  opacity: 0.9;
}

/* WORKS MOBILE PAGE STYLES */

.works-header {
  padding: 2vh 5vw;
}
.works-subheader {
  padding: 2vh 5vw;
}
.works-header h1 {
  font-size: 8vw;
}
.works-subheader h1 {
  font-size: 7vw;
}
.works-header p {
  font-size: 1.1rem;
  padding: 0 4vw;
}
.works-subheader p {
  font-size: 4vw;
  line-height: 1.6;
}
.works-copy-wrapper {
  align-items: top;
  flex-direction: column;
  padding: 0;
}
.works-title h3 {
  width: 70vw;
}
.works-title h3 a {
  font-size: 5vw;
}
.works-images {
  padding: 3vh 0 0;
}
.works-images img {
  height: 66vw;
  width: 66vw;
}
.work-type-text {
  font-size: 4.4vw;
  padding: 3vh 6vw 1vh;
}
.justify {
  text-align: justify;
}

/* PAINTING SERIES MOBILE STYLES */

.latest-series-image {
  margin: 2vh 8vw 3vh 8vw;
  min-height: 40vh;
  opacity: 0.7;
}
.latest-series-content {
  opacity: 0.9;
  padding: 1vh 0;
  top: 35%;
}
.latest-series-content h1 {
  font-size: 1.3rem;
  padding: 1vh 2vw;
  text-transform: uppercase;
}
.latest-series-content h2 {
  font-size: 1.15rem;
}
.latest-series-content h3 {
  font-size: 1rem;
  padding: 2vh 0;
}
.sub-series-content {
  padding: 2vh 0;
  top: 50%;
  width: 105%;
}
.sub-series-content h1 {
  font-size: 1.2rem;
  padding: 2vh 2vw;
}
.sub-series-content h2 {
  font-size: 1.1rem;
  padding: 0 2vw;
}
.sub-series-content h3 {
  font-size: 1rem;
  padding: 2vh 0 0;
}
.series-wrapper {
  flex-direction: column;
  justify-content: center;
  margin: 0 10vw;
}
.series-link-item {
  max-height: 38vh;
  margin: 0 0 3vh;
}
.second-series-image {
  background-size: cover;
}
.third-series-image {
  background-size: cover;
}
.fourth-series-image {
  background-size: cover;
}
.gallery-image-square {
	width: auto;
  height: 28vh;
  margin: 0 auto;
  object-fit: contain;
}
.gallery-item-normal {
  width: 90vw;
}
.gallery-item-normal > a span {
  font-size: 4vw;
  top: 52%;
}
.gallery-item-portrait {
  height: 70vh;
  margin-top: -5vh;
  width: 80vw;
}
.gallery-item-portrait > a span {
  font-size: 4vw;
  top: 62%;
}

/* CONTACT FORM MOBILE STYLES */

.contact-wrapper {
  flex-direction: column;
}
.contact-image {
  flex: 1 1 0;
  margin: 0 4vw 5vh;
}
.contact-copy {
  flex: 1 1 0;
  padding: 1vh 4vw 5vh 4vw;
}
.contact-copy h1 {
  font-size: 7.5vw;
  font-weight: 600;
}
.contact-copy p {
  font-size: 4.3vw;
  padding: 4vh 3vw 3vh;
}
.contact-copy-form{
  padding: 0 12vw;
}
label {
  font-size: 4vw;
  font-weight: 200;
}
input[type=text], input[type=email], input[type=message], input[type=tel], select, textarea {
  margin-bottom: 4vh; 
  margin-top: 2vh; 
}

/* BIOGRAPHY MOBILE PAGE STYLES */

.about-page-heading h1 {
  display: none;
}
.about-page-intro {
  background-color: #e6e6e6;
  flex-direction: column-reverse;
}
.about-page-intro-text {
  margin: 0 2vw 4vh 2vw;
}
.about-page-intro-text h1 {
  font-size: 1.6rem;
  padding: 0 0 4vh;
}
.about-page-intro-text p {
  display: none;
}
.about-page-intro-text span {
  color: #4c4c4c;
  display: inline-block;
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.5;
  padding: 0 3vw 4vh;
}
.about-page-intro-link h2 {
  font-size: 4vw;
  padding: 1.5vh 2vw;
}
.about-page-intro-image {
  background-position: center center;
  min-height: 35vh;
  margin: 4vh 5vw;
}
.about-page-texts {
  background-color: rgb(245, 245, 245);
  flex-direction: column-reverse;
}
.about-page-texts-text {
  margin: 0 2vw 4vh 2vw;
}
.about-page-texts-text h1 {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
  font-size: 1.6rem;
  padding: 0 0 4vh;
}
.about-page-texts-text h2 {
  padding: 4vh 0 0;
}
.about-page-texts-text h2 {
  padding: 4vh 0 0;
}
.about-page-texts-text p {
  display: none;
}
.about-page-texts-image {
  display: initial;
  min-height: 35vh;
  margin: 4vh 5vw;
}
.about-page-texts-link h2 {
  font-size: 4vw;
  padding: 1.5vh 2vw;
}
.display-none {
  display: none;
}
.light-text {
  font-weight: 200;
}
.about-page-archive {
  background-color: #e6e6e6;
  flex-direction: column-reverse;
  margin-bottom: 0;
}
.about-page-archive-text {
  margin: 0 2vw 4vh 2vw;
}
.about-page-archive-text h1 {
  font-size: 1.6rem;
  padding: 0 0 4vh;
}
.about-page-archive-text p {
  font-size: 1rem;
  padding: 1vh 3vw 4vh;
}
.about-page-archive-link h2 {
  font-size: 4vw;
  padding: 1.5vh 2vw;
}
.about-page-archive-image {
  min-height: 35vh;
  margin: 4vh 5vw;
}

/* BIOGRAPHY MAIN PAGE MOBILE STYLES */

.biography-hero-image {
  height: 60vh;
}
.biography-hero-content {
  left: 50%;
  top: 93%;
}
.biography-hero-content h1 {
  font-size: 2.4rem;
}

/* BLOG PAGE(S) MOBILE STYLES */
.page {
  margin: 2vh auto 5vh;
  width: 90vw;
}
.page p {
  font-size: 1.1rem;
  line-height: 1.6;
}
.page h1 {
  font-size: 8vw;
  margin-bottom: 4vh;
  padding: 1vh 0;
}
.page h2 {
  font-size: 6vw;
  margin: 4vh 0 2vh;
  text-align: center;
}
.page h4 {
  border: 1px solid #4c4c4c;
  display: inline-block;
  font-size: 4.5vw;
  font-weight: 400;
  padding: 2vh 3vw;
}
.col-two {
  display: flex;
  flex-direction: column-reverse;
}
.col-two .col-aside {
  flex: 0 0 20em;
  order: 1;
}
.col-two .col-content {
  flex: 1;
}
.blog-recent {
  background-color: #e6e6e6;
  padding-top: 4vh;
  text-align: center;
}
.blog-posts .post-header {
  text-align: center;
}
.blog-posts p {
  padding: 2vh 3vw 0;
  text-align: center;
}
.post-header {
  margin-bottom: 3vh;
}
.post-header img {
  margin-right: 2vw;
}
.post-header img {
  height: 7vh;
}
.posts-image {
  margin: 2vh 0 0;
}
.posts-link {
  text-align: center;
}
.posts-link a {
  padding: 0 0 0;
}
.posts-link h2 {
  font-size: 3.5vw;
  padding: 1.5vh 3vw;
}
.post h1 {
  padding: 3vh 4vw 0;
}
.half-hero {
  height: 35vh;
  margin: 5vh 4vw 0;
}
.post-content,
.post-footer {
  margin: 2vh 4vw;
  max-width: 85vw;
  width: 85vw;
}
.pull-left {
  float: none;
  margin: 0;
  max-width: 85vw;
  padding: 2vh 0;
  text-align: center;
}
.pull-right {
  float: none;
  margin: 0;
  max-width: 85vw;
  padding: 2vh 0;
  text-align: center;
}
.post-aside {
  background-color: rgba(0, 0, 0, 0.05);
}

/* MEDIA PAGE STYLES */

.photo-gallery {
  padding: 0 0 2vh;
  margin: 10px 0 0;
}
.photo-gallery img {
  width: 80vw;
}
.video-gallery {
  position: relative;
  width: 100%;
  margin: 10px 0 10vh;
  padding-bottom: 56.25%; 
  height: 0;
  text-align: center;
}
.video-gallery iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* EXHBITION LANDING MOBILE PAGE STYLES */

.upcoming-exhibitions-image {
  margin: 0 4vw 1vh 4vw;
  min-height: 82vh;
}
.upcoming-exhibitions-content {
  left: 50%;
  padding: 1vh 0;
  top: 50%;
  width: 98%;
}
.upcoming-exhibitions-content h1 {
  font-size: 8vw;
  padding: 3vh 0 0;
}
.upcoming-exhibitions-content h2 {
  font-size: 5.5vw;
  padding: 2vh 2vw;
}
.upcoming-exhibitions-content h3 {
  font-size: 4vw;
  font-weight: 400;
  padding: 0 0 3vh;
}

.exhibitions-lists-wrapper {
  flex-direction: column;
  height: 80vh;
  text-align: center;
}
.exhibitions-individual {
  background-size: contain;
  margin: 4vh 2vw 2vh;
  min-height: 30vh;
}
.exhibitions-individual h1 {
  font-size: 5vw;
  padding: 2vh 0;
  top: 15%;
  width: 90%;
}
.exhibitions-collective {
  background-size: contain;
  margin: 2vh 2vw 2vh;
  min-height: 30vh;
}
.exhibitions-collective h1 {
  font-size: 5vw;
  padding: 2vh 0;
  top: 15%;
  width: 90%;
}
.exhibitions-museum {
  background-size: cover;
  margin: 2vh 2vw 4vh;
  min-height: 34vh;
}
.exhibitions-museum h1 {
  font-size: 4.4vw;
  padding: 2vh 0;
  top: 15%;
  width: 90%;
} */

/* EXHBITION SUBPAGE MOBILE STYLES */

.exhibition-subpage-individual-images {
  display: none;
}

/* CRITICAS TABLET MAIN PAGE */

.accordion {
  font-size: 1.2rem;
}
.accordion span {
  font-size: 1rem;
}
.panel h1 {
  font-size: 1.3rem;
}
.panel h2 {
  font-size: 1.2rem;
}
.panel p {
  font-size: 1rem;
  padding: 0 6vw 3vh;
}
.panel blockquote {
  font-size: 1rem;
  margin: 1vh 6vw 4vh;
}
}

/* SMALL: LANDSCAPE MOBILE STYLES */
/* MAX-WIDTH: 767px */

@media (max-width: 767px) and (orientation:landscape) {

/* LANDSCAPE MOBILE GLOBAL STYLES */

.generic-main-content {
  line-height: 1.6;
  margin: 2vh 18vw 5vh;
}
.generic-main-content h1 {
  font-size: 3.5vw;
}
.generic-main-content p {
  font-size: 2.6vw;
  padding: 0 6vw 3vh;
}
.portrait-photo-gallery {
  margin: 10px 0 0;
}
.portrait-photo-gallery img {
  height: 81vh;
  padding: 0 1vw;
}
.generic-main-content h2 {
  font-size: 3vw;
  padding-bottom: 1vh;
}
.hide-in-mobile {
  display: none;
}
  
/* LANDSCAPE MOBILE HEADER STYLES */

/* .header {
  height: 14vh;
} */
.header {
  height: 15vh;
}
.header-logo a {
  font-size: 3.5vw;
}
.drop-trigger,
.show-mobile-menu {
  font-size: 7vh;
}

/* LANDSCAPE MOBILE DROPDOWN MENU */

.header-nav li {
  margin-top: 0.8rem;
}
.header-nav li:first-child{
  margin-top: 1.2rem;
}
.header-nav li:last-child{
  margin-bottom: 1.2rem;
}
.header-nav li a {
  font-size: 1rem;
}

/* LANDSCAPE MOBILE FOOTER STYLES */

.footer-nav {
  padding: 0vh 8vw 8vh;
  text-align: center;
}
.footer-nav li {
  display: inline-block;
  list-style: none;
}
.footer-nav li ~ li {
  padding-left: 0;
}
.footer-nav a {
  border: 1px solid #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 6vh;
  font-weight: 200;
  padding: 10px;
  text-transform: uppercase;
}
.footer-nav .hide {
  display: none;
}
.footer-image img {
  border-radius: 50%;
  display: inline-block;
  height: 30vh;
  left: 50%; 
  margin-bottom: 3vh;
  object-fit: cover;
  padding: 5vh 0 5vh;
  position: relative;
  transform: translate(-50%, 0); 
  width: 30vh;
}

/* LANDSCAPE MOBILE CALLOUT PAGE STYLES */

.callout-section-content {
  left: 30%;
  top: 86%;
}
.callout-section-content h1 {
  font-size: 1.7rem;
  font-weight: 600;
}
.light-to-dark h1 {
  color: rgba(255, 255, 255, 0.8);
}
.callout-works-image {
  background-position: bottom center;
}
.callout-exhibitions-image {
  background-position: center center;
}
blockquote {
  top: 32%;
}
blockquote q {
  font-size: 7vw;
  font-weight: 400;;
  opacity: 0.9;
}

/* LANDSCAPE MOBILE EXHIBITION STYLES */

.upcoming-exhibitions-image {
  margin: 0 4vw 2vh;
  min-height: 85vh;
}
.upcoming-exhibitions-content {
  top: 55%;
}
.upcoming-exhibitions-content h1 {
  font-size: 5.5vw;
}
.upcoming-exhibitions-content h2 {
  font-size: 4vw;
}
.upcoming-exhibitions-content h3 {
  font-size: 3.2vw;
}
.exhibitions-lists-wrapper {
  flex-direction: row;
  text-align: center;
}
.exhibitions-individual {
  margin: 2vh 1vw 2vh 4vw;
  min-height: 70vh;
}
.exhibitions-individual h1 {
  font-size: 2.6vw;
  padding: 3vh 0;
  top: 15%;
  width: 90%;
}
.exhibitions-collective {
  margin: 2vh 4vw 2vh 1vw;
  min-height: 70vh;
}
.exhibitions-collective h1 {
  background-color: #4c4c4c;
  font-size: 2.6vw;
  padding: 3vh 0;
  top: 15%;
  width: 90%;
}
.exhibitions-museum {
  margin: 2vh 4vw 4vh;
  min-height: 70vh;
}
.exhibitions-museum h1 {
  font-size: 2.6vw;
  padding: 3vh 0;
  top: 15%;
  width: 90%;
} 

/* LANDSCAPE MOBILE WORKS PAGE STYLES */

.works-header h1 {
  font-size: 5vw;
  padding: 2vh 0 3vh;
}
.works-header p {
  font-size: 2.7vw;
}
.works-box {
  margin: 0 3vw;
}
.works-images {
  padding: 5vh 0 2vh
}
.works-images img {
  height: 34vw;
  width: 34vw;
}
.works-title {
  margin: 0 0 4vh;
}
.works-title h3 a {
  font-weight: 600;
  font-size: 2.5vw;
}
.work-type-text {
  font-size: 1.15rem;
  padding: 3vh 9vw 1vh;
}
.work-type-heading {
  font-size: rem;
  font-weight: 600;
  line-height: 1.2;
}

/* PAINTING SERIES MOBILE STYLES */

.latest-series-image {
  margin: 2vh 8vw 3vh 8vw;
  min-height: 81vh;
}
.latest-series-content {
  opacity: 0.9;
  padding: 2vh 0;
  top: 55%;
}
.latest-series-content h1 {
  font-size: 1.4rem;
  padding: 2vh 2vw;
}
.latest-series-content h2 {
  font-size: 1.1rem;
}
.latest-series-content h3 {
  font-size: 0.95rem;
  padding: 2vh 0;
}
.sub-series-content {
  padding: 3vh 0;
  top: 20%;
  width: 105%;
}
.sub-series-content h1 {
  font-size: 1.2rem;
  padding: 2vh 1vw 1vh;
}
.sub-series-content h2 {
  font-size: 0.9rem;
  padding: 2vh 2vw;
}
.sub-series-content h3 {
  font-size: 0.9rem;
  padding: 2vh 0 0;
}
.series-wrapper {
  flex-direction: column;
  justify-content: center;
  margin: 0 10vw;
}
.series-link-item {
  max-height: 75vh;
  margin: 1vh 0 3vh;
}
.second-series-image, 
.third-series-image, 
.fourth-series-image {
  /* height: 35vh; */
}
.gallery {
  align-items: center;
  display: flex;
  margin: 4vh 0;
  width: 100%;
}
.gallery-line {
  flex-direction: column;
  margin-bottom: 0;
}
.gallery-item {
  flex: 1 0 24rem;
	margin: 0 auto 4vh;
  overflow: visible;
  position: relative;
  text-align: center;
}
.gallery-item-dates,
.gallery-item-text {
  height: 81vh;
  width: auto;
}
.gallery-item-small,
.gallery-item-normal,
.gallery-item-medium, 
.gallery-item-large,
.gallery-item-largest {
  height: 81vh;
  margin-top: 2vh;
  width: auto;
}
.gallery-item-dates > a span {
  font-size: 1.3rem;
  font-weight: 600;
  left: 0%;
  top: 5%;
  width: 100%;
}
.gallery-item-text > a span {
  font-size: 1.1rem;
  font-weight: 600;
  left: 0%;
  top: 5%;
  width: 100%;
}
.gallery-item-circle > a span,
.gallery-item-portrait > a span,
.gallery-item-portrait-small > a span,
.gallery-item-portrait-large > a span,
.gallery-item-portrait-largest > a span,
.gallery-item-medium > a span,
.gallery-item-large > a span,
.gallery-item-largest > a span {
  font-size: 0.95rem;
  font-weight: 600;
}
.gallery-item-normal > a span {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
  color: #4c4c4c;
  font-size: 0.95rem;
  font-weight: 600;
  left: 50%;
  opacity: 0.8;
  padding: 0 0 4vh;
  position: absolute;
  top: 82%;
  transform: translate(-50%, -50%);
  width: 120%;
}
.gallery-image-square {
  max-width: 95vw;
	width: auto;
	height: 250px;
  object-fit: contain;
}
.gallery-item-portrait {
  height: 85vh;
  margin-top: 4vh;
  width: 80vw;
}
.gallery-item-portrait > a span {
  font-size: 1rem;
  top: 70%;
}
.gallery-image-portrait {
	width: auto;
  height: 16rem;
  text-align: center;
  margin: 0 auto;
}


/* LANDSCAPE MOBILE BIOGRAPHY PAGE STYLES */

.biography-hero-image {
  height: 81vh;
}
.biography-hero-content {
  left: 45%;
  top: 64%;
}
.biography-hero-content h1 {
  font-size: 4vw;
  font-weight: 600;
}

/* CRITICAS MOBILE LANDSCAPE MAIN PAGE */

.accordion {
  font-size: 1.1rem;
}
.accordion span {
  font-size: 0.9rem;
}
.panel h1 {
  font-size: 1.5rem;
  margin-top: 3vh;
}
.panel h2 {
  font-size: 1.2rem;
}
.panel p {
  font-size: 1.05rem;
  padding: 0 8vw 3vh;
}
.panel blockquote {
  font-size: 1.05rem;
  margin: 2vh 10vw 6vh;
}
blockquote span {
  font-size: 0.9rem;
}

/* LANDSCAPE MOBILE CONTACT FORM STYLES */

.contact-image {
  margin: 1vh 4vw 6vh;
  min-height: 65vh;
}
.contact-copy {
  padding: 0 4vw 5vh;
}
.contact-copy h1 {
  font-size: 4.5vw;
}
.contact-copy p {
  font-size: 2.5vw;
  padding: 4vh 10vw 3vh;
}
.contact-copy-form{
  padding: 3vh 12vw;
}
label {
  font-size: 2.3vw;
  font-weight: 200;
}
input[type=text], input[type=email], input[type=message], input[type=tel], select, textarea {
  margin-bottom: 6vh; 
  margin-top: 3vh; 
}



}



/* WIDE - DESKTOP DEVICES */

@media (min-width: 1600px) {

/* GENERAL STYLES */

.generic-main-content {
  line-height: 1.8;
  margin: 2vh 24vw 5vh;
  text-align: center;
}
.generic-main-content h1 {
  font-size: 3.5rem;
  margin: 3vh 5vw 8vh;
}
.generic-main-content p {
  font-size: 2rem;
  font-weight: 200;
  padding: 0 0 3vh;
}
.generic-main-content h2 {
  font-size: 2.2rem;
  font-weight: 600;;
  padding-bottom: 3vh;
}
.portrait-photo-gallery img {
  height: 30vh;
  width: auto;
}
.landscape-photo-gallery img {
  height: 450px;
  width: 600px;
}

/* WIDESCREEN HEADER STYLES */

.header {
  height: 14vh;
}
.header-logo a {
  font-size: 3vw;
  text-transform: uppercase;
}
.header-nav a,
.drop-trigger,
.show-mobile-menu {
  font-size: 1.6vw;
}

/* WIDESCREEN DROPDOWN MENU */
.drop-menu a {
  font-size: 1.6rem;
}

/* WIDESCREEN FOOTER STYLES */
.footer-nav a {
  font-size: 2rem;
}
.footer-image img {
  height: 18rem;
  width: 18rem;
}

/* WIDESCREEN CALLOUT STYLES */

.callout-section-content {
  top: 83%;
}
.callout-section-content h1 {
  font-size: 4rem;
  font-weight: 600;
  padding: 0 0 2vh;
}
.callout-section-content p {
  font-size: 1.8rem;
  font-weight: 400;
}

/* WORKS PAGE STYLES */

.works-header,
.works-subheader {
  padding: 4vh 22vw 0;
}
.works-header h1 {
  font-size: 4rem;
  font-weight: 600;
}
.works-subheader h1 {
  font-size: 3rem;
}
.works-header p {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 4vh;
}
.works-title {
  margin: 0 0 4vh;
}
.works-title h3 {
  background-color: #4c4c4c;
  border-radius: 10%;
  opacity: 1;
  top: 90%;
}
.works-title h3 a {
  color: #fff;
  font-size: 2.4rem;
  font-weight: 400;
  text-transform: uppercase;
}
.works-title h3 a:hover {
  color: #fff;
  font-weight: 600;
}
.works-title h3:hover {
  background-color: goldenrod;
}
.works-copy-wrapper {
  padding: 0 13vw 0;
}
.works-images img {
  height: 30vw;
  width: 30vw;
}
.works-images img:hover {
  height: 30.1vw;
  width: 30.1vw;
  transition: 0.2s ease-out;
}


/* ART/SERIES STYLES */

.work-type-heading {
  border-top: none;
  font-size: 4rem;
}
.work-type-text {
  font-size: 2rem;
  padding: 3vh 22vw 0;
}
.latest-series-image {
  opacity: 0.7;
}
.latest-series-content {
  opacity: 0.9;
}
.latest-series-content h1 {
  font-size: 4rem;
  padding: 2.5vh 2vw;
}
.latest-series-content h2 {
  font-size: 2.5rem;
  font-weight: 400;
}
.latest-series-content h3 {
  font-size: 2.3rem;
  font-weight: 200;
}
.sub-series-content {
  background-color: transparent;
  opacity: 1;
  /* padding: 3vh 0; */
  top: 122%;
  width: 90%;
}
.sub-series-content h1 {
  background-color: #4c4c4c;
  color: #fff;
  font-size: 2.2rem;
  padding: 2.5vh 2vw;
}
.sub-series-content h3 {
  color: #4c4c4c;
  font-size: 1.8rem;
}
.series-link-item {
  flex: 1 1 24rem;
  height: 35vh;
  margin: 0 1vw 3vh;
  opacity: 0.9;
}
.series-wrapper {
  margin: 0 7vw 10vh;
}
.gallery-item-normal {
  height: 48vh;
  width: auto;
}
.gallery-item-dates,
.gallery-item-text {
  height: 55vh;
}
.gallery-item-portrait {
  flex: 1;
  height: 70vh;
  width: 28vw;
  justify-content: center;
}
.gallery-item-portrait-small {
  flex: 1;
  height: 50vh;
  justify-content: center;
}
.gallery-item-portrait-large {
  flex: 1;
  height: 62vh;
  justify-content: center;
}
.gallery-item-portrait-largest {
  flex: 1;
  height: 72vh;
  justify-content: center;
}

.gallery-item-portrait > a span,
.gallery-item-portrait-small > a span,
.gallery-item-portrait-large > a span,
.gallery-item-portrait-largest > a span,
.gallery-item-medium > a span,
.gallery-item-normal > a span,
.gallery-item-large > a span,
.gallery-item-largest > a span {
  font-size: 2rem;
}
.gallery-item-dates > a span {
  font-size: 3.5rem;
}
.gallery-item-text > a span {
  font-size: 2.2rem;
}
.gallery-image-series {
	width: 42vw;
}

/* EXHBITION LANDING PAGE STYLES */

.upcoming-exhibitions-image {
  opacity: 0.5;
}
.upcoming-exhibitions-content h1 {
  font-size: 3.4rem;
}
.upcoming-exhibitions-content h2 {
  font-size: 3.6rem;
  padding: 2.5vh 2vw;
  text-transform: uppercase;
}
.upcoming-exhibitions-content h3 {
  font-size: 2.5rem;
  font-weight: 400;
}
.exhibitions-individual,
.exhibitions-collective,
.exhibitions-museum {
  min-height: 50vh;
}
.exhibitions-individual h1,
.exhibitions-collective h1,
.exhibitions-museum h1 {
  font-size: 2.4rem;
  font-weight: 600;
  top: 12%;
  width: 105%;
}

/* BIOGRAPHY MAIN PAGE STYLES */

.biography-hero-image {
  height: 81vh;
}
.biography-hero-content {
  font-weight: 400;
  top: 65%;
}
.biography-hero-content h1 {
  font-size: 4rem;
  font-weight: 600;
}

/* CONTACT FORM STYLES */

.contact-copy h1 {
  font-size: 3.5rem;
}
.contact-copy p {
  font-size: 2rem;
}
.contact-copy-text {
  padding: 0 0 4vh;
}
button[type=submit] {
  font-size: 1.6rem;
}
label {
  font-size: 1.5rem;
}

/* CRITICAS LANDING PAGE STYLES */

.reviews-wrapper {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  text-align: center;
  width: 100%;
}
.reviews-lists-wrapper {
  display: flex;
  flex: 1 1 0;
  flex-direction: row;
  text-align: center;
  width: 100%;
}
.reviews-bibliografia {
  background-position: center center;
  background-image: url(../images/Reviews/bibliography_hero.jpg);
  background-size: contain;
  flex: 1;
  margin: 2vh 1.5vw 5vh 8vw;
  min-height: 81vh;
  opacity: 0.8;
  text-decoration: none;
}
.reviews-bibliografia h1 {
  background-color: goldenrod;
  color: #fff;
  display: block;
  font-size: 1.5rem;
  font-weight: 600;
  left: 50%;
  opacity: 0.9;
  padding: 2vh 0;
  position: relative;
  text-transform: uppercase;
  top: 8%;
  transform: translate(-50%, -50%);
  width: 105%;
}
.reviews-resenas {
  background-position: center center;
  background-image: url(../images/Exhibitions/collective.jpg);
  background-size: contain;
  flex: 1;
  margin: 2vh 8vw 5vh 1.5vw;
  min-height: 81vh;
  opacity: 0.8;
  text-decoration: none;
}
.reviews-resenas h1 {
  background-color: goldenrod;
  color: #fff;
  display: block;
  font-size: 1.5rem;
  font-weight: 600;
  left: 50%;
  opacity: 0.9;
  padding: 2vh 0;
  position: relative;
  text-transform: uppercase;
  top: 8%;
  transform: translate(-50%, -50%);
  width: 105%;
}

/* CRITICAS MAIN PAGE */

.accordion {
  font-size: 1.8rem;
  margin: 0 16vw 2vh;
}
.accordion span {
  font-size: 1.6rem;
}
.accordion:first-child {
  margin-top: 4vh;
}
.panel h1 {
  font-size: 3.5rem;
}
.panel h2 {
  font-size: 2.5rem;
}
.panel p {
  font-size: 1.8rem;
  padding: 0 22vw 3vh;
}
.panel blockquote {
  font-size: 1.8rem;
  margin: 1vh 26vw 4vh;
}
blockquote span {
  font-size: 1.6rem;
}





}
