html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
strong, b {
  font-weight: bold;
}
em, i {
  font-style: italic;
}
a img {
  border: none;
}
/* END RESET*/

/* GLOBAL STYLES */
body {
  display: flex;
  flex-direction: column;
  /* min-height: 100vh; */
}
.content-container {
  flex-grow: 1;
  padding-top: 14vh;
  width: 100%;
  padding-bottom: 4vh;
}
.center {
  text-align: center;
}
.center-text {
  
}
.justify {
  text-align: justify;
}
.clickable-link {
  padding: 100vw;
}
h1, h2, h3, h4, p, span, blockquote {
  font-family: 'Raleway', sans-serif;
}
a {
  text-decoration: none;
}
a:link {
  color: darkblue;
}
a:visited {
  color: darkgray;
}
a:hover {
  color: #db6600;
}
.galleria { 
  width: 700px; 
  height: 400px; 
  background: #000; 
}
.portrait-photo-gallery {
  flex: 1;
  padding: 3vh 0 0;
  margin: 10px 50px 0;
  text-align: center;
}
.portrait-photo-gallery img {
  height: 30vh;
  transition: 1s;
  padding: 15px;
  width: auto;
}
.landscape-photo-gallery {
  flex: 1;
  padding: 3vh 0 0;
  margin: 10px 50px 0;
  text-align: center;
}
.landscape-photo-gallery img {
  height: 150px;
  transition: 1s;
  padding: 15px;
  width: 200px;
}
.generic-main-content {
  color: #000;
  line-height: 1.8;
  margin: 2vh 28vw 5vh;
  text-align: center;
}
.generic-main-content h1 {
  color: #4c4c4c;
  /* border: 1px solid rgba(0, 0, 0, 0.5); */
  font-size: 2vw;
  font-weight: 600;
  margin: 3vh 0 5vh;
  /* padding: 2vh 1vw; */
}
.generic-main-content p {
  font-size: 1.2vw;
  font-weight: 200;
  padding: 0 0 2vh;
}
.generic-main-content span {
  font-weight: 400;
}
.generic-main-content h2 {
  font-weight: 600;
  margin-bottom: -0.05vh;
}
.margin-bottom {
  margin-bottom: 1vh;
}

/* HEADER STYLES */

.header {
  align-items: flex-end;
  background-color: #fff;
  display: flex;
  flex-direction: row-reverse;
  height: 12vh;
  padding-bottom: 3vh;
  position: fixed;
  width: 100%;
  z-index: 20;
}
.header-logo {
  flex: 1 1 0;
  margin-left: 8vw;
}
.header-logo li {
  /* border: 2px solid #4c4c4c; */
  display: inline-block;
  list-style: none;
  position: relative;
  padding: 6px;
  margin-bottom: -1vh;
  text-transform: uppercase;
}
.header-logo a {
  color: #4C4C4C;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-size: 3.2vw;
  font-weight: 400;
  text-decoration: none;
}
.header-nav {
  flex: 1 1 0;
  margin-right: 8vw;
}
.header-nav > li {
  display: inline-block;
  list-style: none;
  padding-right: 2vw;
  text-align: center;
}
.header-nav > li:last-child {
  padding-right: 0;
}
.header-nav a,
.drop-trigger,
.show-mobile-menu {
  color: #4C4C4C;
  font-family: 'Raleway', sans-serif;
  font-size: 1.1rem;
  text-decoration: none;
}
.header-nav a:hover {
  color: #db6600;
}

/* DROPDOWN MENU */

.dropdown {
  position: relative;
}
.dropdown:hover .drop-menu {
  display: block;
}
.dropdown .dropdown:hover .sub-drop-menu {
  display: block;
}
.drop-trigger {
  display: inline-block;
  position: relative;
}
.drop-menu {
  box-shadow: 0 0 10px 0 rgba(240, 240, 240, 0.2);
  display: none;
  list-style: none;
  padding: 1em 0 0;
  position: absolute;
  right: 0;
  z-index: 9;
}
.sub-drop-menu {
  box-shadow: 0 0 10px 0 rgba(240, 240, 240, 0.2);
  display: none;
  left: 100%;
  list-style: none;
  padding: 0;
  position: absolute;
  top: 0%;
  z-index: 9;
}
.drop-menu:before {
  border: 0.6em solid;
  border-color: transparent transparent rgb(240, 240, 240);
  content: "";
  height: 0;
  position: absolute;
  right: 1.8rem;
  top: -0.1em;
  width: 0;
}
.sub-drop-menu:before {
  border: 0.6em solid;
  border-color: transparent transparent rgb(0, 0, 0);
  content: "";
  height: 0;
  left: -15%;
  opacity: 0.2;
  position: absolute;
  right: 0;
  top: 10%;
  transform: rotate(90deg);
  width: 0;
}
.drop-menu li,
.sub-drop-menu li {
  background-color: rgb(240, 240, 240);
}
.drop-menu li ~ li,
.sub-drop-menu li ~ li {
  border-top: 1px dotted rgba(0,0,0,0.1)
}
.drop-menu li:first-child {
  border-radius: 5px 5px 0 0;
  padding: 0.5em 0 0;
}
.sub-drop-menu li:first-child {
  border-radius: 5px 5px 0 0;
  padding: 0;
}
.drop-menu li:last-child
.sub-drop-menu li:last-child {
  border-radius: 0 0 5px 5px;
}
.drop-menu a {
  color: #333;
  display: block;
  font-size: 1.1rem;
  font-weight: normal;
  padding: 0.5em 2em 0.5em 1em;
  text-align: left;
  text-transform: none;
  white-space: nowrap;
}
.sub-drop-menu a {
  color: #666;
  display: block;
  font-size: 0.95rem;
  font-weight: normal;
  padding: 0.7em 2em 0.5em 1em;
  text-align: left;
  text-transform: none;
  white-space: nowrap;
}
.drop-menu a:hover {
  background-color: rgba(0,0,0,0.1);
  color: #333;
}
.sub-drop-top {
  margin-top: 0.5em;
}

/* MOBILE MENU */
.mobile-menu-check,
.show-mobile-menu {
  display: none;
}

/* HIDE IN THE FOOTER */
.footer .dropdown:hover .drop-menu,
.footer .drop-trigger:after {
  display: none;
}
.footer .drop-trigger {
  padding-right: 0;
}

/* FOOTER STYLES */

.footer {
  background-color: #4C4C4C;
  width: 100%;
}
.footer-logo li {
  list-style: none;
  padding: 5vh 0 0;
  text-align: center;
}
.footer-logo a {
  color: #fff;
  cursor: pointer;
  font-family: 'Buenard', serif;
  font-size: 2.2rem;
  text-decoration: none;
}
.footer-nav {
  padding: 0vh 8vw 5vh;
  text-align: center;
}
.footer-nav li {
  display: inline-block;
  list-style: none;
}
.footer-nav li ~ li {
  padding-left: 2rem;
}
.footer-nav a {
  color: rgb(220, 220, 220);
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-size: 1.2rem;
  text-decoration: none;
}
.footer-nav a:hover {
  color: #db6600;
}
.footer-image img {
  border-radius: 50%;
  display: inline-block;
  height: 10rem;
  left: 50%; 
  object-fit: cover;
  padding: 5vh 0;
  position: relative;
  transform: translate(-50%, 0); 
  width: 10rem;
}
.copyright {
  color: #fff;
  text-align: center;
  padding-bottom: 5vh;
  size: 0.8rem;
}

/* CALLOUT STYLES */

.callout-section {
  background-size: cover;
  box-sizing: border-box;
  flex: 1 1 auto;
  height: 81vh;
  overflow: hidden;
  position: relative;
}
.callout-works-image {
  background-image: url(../images/New_Images/Small_Images/Imagen\ para\ inicio-min.JPG);
  background-position: center center;
  margin: 0 8vw 5vh;
  /* transition: 4s ease-out; */
}
.callout-about-image {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url(../images/pedro_about2.jpg);
  background-position: center bottom;
  background-size: cover;
  margin: 0 8vw 5vh;
  position: relative;
}
.callout-exhibitions-image {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url(/images/exhibition_hero.jpg);
  background-position: center center;
  background-size: cover;
  margin: 0 8vw 5vh;
  position: relative;
}
.callout-section-content h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  color: white;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  top: 88%;
  left: 50%;
  font-size: 2.6vw;
  transform: translate(-50%, -50%);
}
.callout-section-content a {
  text-decoration: none;
}
.fade-in {
  animation: fadeIn ease 10s;
  -webkit-animation: fadeIn ease 10s;
  -moz-animation: fadeIn ease 10s;
  -o-animation: fadeIn ease 10s;
  -ms-animation: fadeIn ease 10s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
.hero-quote {
  position: absolute;
  left: 50%;
  text-align: center;
  top: 40%;
  transform: translate(-50%, -50%);
  word-wrap: none;
}
.hero-quote q {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 1vw;
  font-weight: 200;
  letter-spacing: .3rem;
  line-height: 1.5;
  opacity: 0.8;
}
.hero-quote q span { 
  will-change: opacity, filter;
  opacity: 0;
  filter: blur(0px);
}


/* WORKS PAGE STYLES */

.works-section {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}
.works-header,
.works-subheader {
  color: #4c4c4c;
  flex: 1 1 0;
  font-weight: 400;
  padding: 4vh 16vw 2vh;
  text-align: center;
}
.works-header h1 {
  font-size: 2.5rem;
  padding: 0 0 3vh;
  text-transform: uppercase;
}
.works-subheader h1 {
  font-size: 2rem;
  padding: 0 0 3vh;
  text-transform: uppercase;
}
.works-header p {
  font-size: 1.2rem;
  font-weight: 200;
  line-height: 1.6;
  margin-bottom: 4vh;
}
.works-title {
  margin: 0 0 4vh;
}
.works-title h3 {
  background-color: #fff;
  color: #4c4c4c;
  font-size: 1.4vw;
  font-weight: 400;
  left: 50%;
  line-height: 1.4;
  opacity: 0.75;
  padding: 3vh 0;
  position: absolute;
  top: 25%;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transform: translate(-50%, -50%);
  width: 24vw;
}
.works-title h3:hover {
  color: #db6600;
  opacity: 0.8;
}
.works-copy-wrapper {
  display: flex;
  flex: 1 1 0;
  flex-wrap: wrap;
  padding: 0 8vw 0;
  width: auto;
}
.works-box {
  align-items: center;
  flex: 1;
  margin: 0 1vw;
  position: relative;
}
.works-images {
  padding: 3vh 0 1vh;
  position: relative;
  text-align: center;
}
.works-images img {
  border-radius: 50%;
  height: 22vw;
  object-fit: cover;
  opacity: 1;
  width: 22vw;
}
.works-images img:hover {
  transition: opacity 2s ease-out;
}

/* ART/SERIES STYLES */

.work-type-wrapper {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  text-align: center;
  width: 100%;
}
.work-type-heading {
  align-self: center;
  border-top: 1px dotted rgba(0, 0, 0, 0.2);
  color: #4c4c4c;
  font-size: 2.5vw;
  font-weight: 600;
  justify-self: center;
  margin: 2vh 0;
  padding: 4vh 0 0;
  text-align: center;
  text-transform: uppercase;
  width: 80%;
}
.work-type-text {
  color: #4c4c4c;
  font-size: 1.3vw;
  line-height: 1.6;
  padding: 2vh 25vw 4vh;
  text-align: center;
}
.latest-series-image {
  background-position: center center;
  background-image: url("../images/paintings/2009-2020/2016-2020_main/incertidumbre/incertidumbre_1ab.JPG");
  background-size: contain;
  flex: 1;
  margin: 2vh 8vw 3vh 8vw;
  min-height: 81vh;
  opacity: 0.7;
}
.latest-series-content {
  background-color: #4c4c4c;
  display: block;
  left: 50%;
  opacity: 0.8;
  padding: 3vh 0;
  position: absolute;
  top: 60%;
  transform: translate(-50%, -50%);
  width: 90%;
}
.latest-series-content h1 {
  background-color: #fff;
  border: 1px solid #fff;
  color: #4c4c4c;
  display: inline-block;
  font-size: 2.5rem;
  font-weight: 600;
  opacity: 0.8;
  padding: 2vh 2vw;
  text-transform: uppercase;
}
.latest-series-content h2 {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  opacity: 0.8;
  padding: 0 2vw;
  text-transform: uppercase;
}
.latest-series-content h3 {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 200;
  opacity: 0.8;
  padding: 2vh 0;
}
.sub-series-content {
  background-color: #4c4c4c;
  display: block;
  left: 50%;
  opacity: 0.8;
  padding: 2vh 0;
  position: absolute;
  text-align: center;
  top: 125%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.sub-series-content h1 {
  background-color: #fff;
  border: 1px solid #fff;
  color: #4c4c4c;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 600;
  opacity: 0.8;
  padding: 2vh 2vw;
  text-transform: uppercase;
}
.sub-series-content h2 {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 400;
  opacity: 0.8;
  padding: 0 2vw;
  text-transform: uppercase; 
}
.sub-series-content h3 {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  opacity: 0.8;
  padding: 2vh 0 0;
}
.series-wrapper {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  margin: 0 7vw 14vh;
  width: auto;
}
.series-link-item {
  flex: 1 1 24rem;
  min-height: 40vh;
  margin: 0 1vw 3vh;
  opacity: 0.9;
  position: relative;
  text-decoration: none;
}
.second-series-image {
  background-position: center center;
  background-image: url(../images/paintings/1993-2006_main/resized/viajero_4_s.jpg);
  background-size: contain;
}
.third-series-image {
  background-position: center center;
  background-image: url(../images/paintings/1988-1994_main/resized/landscape_7.jpg);
  background-size: cover;
}
.fourth-series-image {
  background-position: center center;
  background-image: url(../images/paintings/1984-1989_main/compressed_images/presencia_1_l.jpg);
  background-size: cover;
}
.gallery {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 6vh 0;
  width: 100%;
}
.gallery-line {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
  margin: 0vh 8vw;
}
.gallery-item {
  align-self: center;
  flex: 1 1 24px;
  justify-self: center;
  margin: 1rem;
  position: relative;
}
.gallery-item-fullrow {
  height: 55vh;
  width: 84vw;
}
.gallery-item-normal,
.gallery-item-normal-no-fade {
  height: 45vh;
  width: 30vw;
}
.gallery-item-portrait,
.gallery-item-portrait-no-fade {
  flex: 1;
  height: 45vh;
  width: 30vw;
}
.gallery-image-series {
	width: 40vw;
	height: 55vh;
	object-fit: cover;
}
.gallery-image-square,
.gallery-image-square-no-fade {
  left: 50%;
  max-height: 100%;
	max-width: 100%;
	height: auto;
  object-fit: contain;
  position: absolute;
  margin: 0 auto;
  top: 50%;
  transform: translate(-50%, -50%);
}
.gallery-image-portrait,
.gallery-image-portrait-no-fade {
  left: 50%;
  max-height: 100%;
	max-width: 100%;
	height: 100%;
  object-fit: contain;
  position: absolute;
  margin: 0 auto;
  top: 50%;
  transform: translate(-50%, -50%);
}
.gallery-image {
  display: block;
  opacity: 1;
  transition-property: opacity, transform;
  transition-duration: 3s, 3s;
}
.overlay-title,
.overlay {
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 50%;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: .5s ease;
  background-color: transparent;
}
.gallery-item:hover .overlay,
.gallery-item:hover .overlay-title {
  opacity: 0.9;
  transition-property: opacity;
  transition-duration: 1s;
}
.gallery-item:hover .gallery-image-square,
.gallery-item:hover .gallery-image-portrait,
.gallery-item:hover .gallery-image-series {
  opacity: 0.3;
}
.overlay-text {
  color: #4c4c4c;
  font-family: 'Raleway', sans-serif;
  font-size: 2.2vw;
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.overlay-text-details {
  color: #4c4c4c;
  font-family: 'Raleway', sans-serif;
  font-size: 1vw;
  font-weight: 600;
  line-height: 1.6;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  width: 50%;
}

/* BIOGRAPHY MAIN PAGE STYLES */

.biography-wrapper {
  flex: 1 1 auto;
  flex-direction: column;
  width: 100%
}
.biography-hero-image {
  background-image: url(../images/images_new/Pedro_2009.jpg);
  background-position: center center;
  background-size: cover;
  height: 81vh;
  margin: 0 8vw 5vh;
  position: relative;
}
.biography-hero-content {
  font-weight: 400;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 90%;
  transform: translate(-50%, -50%); 
}
.biography-hero-content h1 {
  color:rgba(255, 255, 255, 0.7);
  font-size: 2.8rem;
  font-weight: 200;
}

/* MEDIA PAGE STYLES */

.media-wrapper {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  width: 100%;
}
.photo-gallery {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 8vw;
  max-width: 84vw;
  padding: 1vh 0;
  text-align: center;
}
.video-gallery {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 8vw;
  max-width: 84vw;
  padding: 3vh 0 5vh;
  text-align: center;
}
.video-gallery iframe {
  flex: 1;
  padding: 10px;
}
.photo-gallery img {
  flex: 1;
  height: 200px;
  transition: 1s;
  padding: 2vh 1vw;
  width: auto;
}
h2 {
  font-size: 1.1rem;
  margin: 2vh 0;
  text-align: center;
}

/* EXHBITION LANDING PAGE STYLES */

.exhibitions-wrapper {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  text-align: center;
  width: 100%;
}
.upcoming-exhibitions-image {
  background-position: center center;
  background-image: url(../images/Exhibitions/exhibition_hero.jpg);
  background-size: contain;
  flex: 1;
  margin: 2vh 8vw 5vh 8vw;
  min-height: 81vh;
  opacity: 0.4;
}
.upcoming-exhibitions-content {
  background-color: #8a0e0b;
  display: block;
  left: 50%;
  opacity: 0.8;
  padding: 3vh 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}
.upcoming-exhibitions-content h1 {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 600;
  opacity: 0.8;
  padding: 2vh 0;
  text-transform: uppercase;
}
.upcoming-exhibitions-content h2 {
  background-color: #fff;
  border: 1px solid #fff;
  color: #8a0e0b;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 400;
  opacity: 0.8;
  padding: 2vh 2vw;
  text-transform: uppercase;
}
.upcoming-exhibitions-content h3 {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 200;
  opacity: 0.8;
  padding: 2vh 0;
}
.exhibitions-lists-wrapper {
  display: flex;
  flex: 1 1 0;
  flex-direction: row;
  text-align: center;
  width: 100%;
}
.exhibitions-lists-wrapper-single {
  display: flex;
  flex: 1 1 0;
  text-align: center;
  width: 100%;
}
.exhibitions-individual {
  background-position: center center;
  background-image: url(../images/Exhibitions/individual.jpg);
  background-size: contain;
  flex: 1;
  margin: 2vh 1.5vw 5vh 8vw;
  min-height: 81vh;
  opacity: 0.8;
  text-decoration: none;
}
.exhibitions-individual h1 {
  background-color: goldenrod;
  color: #fff;
  display: block;
  font-size: 1.5vw;
  font-weight: 600;
  left: 50%;
  opacity: 0.9;
  padding: 2vh 0;
  position: relative;
  text-transform: uppercase;
  top: 8%;
  transform: translate(-50%, -50%);
  width: 105%;
}
.exhibitions-collective {
  background-position: center center;
  background-image: url(../images/Exhibitions/collective.jpg);
  background-size: contain;
  flex: 1;
  margin: 2vh 8vw 5vh 1.5vw;
  min-height: 81vh;
  opacity: 0.8;
  text-decoration: none;
}
.exhibitions-collective h1 {
  background-color: goldenrod;
  color: #fff;
  display: block;
  font-size: 1.5vw;
  font-weight: 600;
  left: 50%;
  opacity: 0.9;
  padding: 2vh 0;
  position: relative;
  text-transform: uppercase;
  top: 8%;
  transform: translate(-50%, -50%);
  width: 105%;
}
.exhibitions-museum {
  background-position: center center;
  background-image: url(../images/Exhibitions/collection_hero.jpg);
  background-size: contain;
  flex: 1;
  margin: 2vh 8vw 5vh 8vw;
  min-height: 81vh;
  opacity: 0.8;
  text-decoration: none;
}
.exhibitions-museum h1 {
  background-color: goldenrod;
  color: #fff;
  display: block;
  font-size: 1.5vw;
  font-weight: 600;
  left: 50%;
  opacity: 0.9;
  padding: 2vh 0;
  position: relative;
  text-transform: uppercase;
  top: 8%;
  transform: translate(-50%, -50%);
  width: 105%;
}

/* CRITICAS LANDING PAGE STYLES */

.reviews-wrapper {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  text-align: center;
  width: 100%;
}
.reviews-lists-wrapper {
  display: flex;
  flex: 1 1 0;
  flex-direction: row;
  text-align: center;
  width: 100%;
}
.reviews-bibliografia {
  background-position: center center;
  background-image: url(../images/Reviews/bibliography_hero.jpg);
  background-size: contain;
  flex: 1;
  margin: 2vh 1.5vw 5vh 8vw;
  min-height: 81vh;
  opacity: 0.8;
  text-decoration: none;
}
.reviews-bibliografia h1 {
  background-color: goldenrod;
  color: #fff;
  display: block;
  font-size: 1.5rem;
  font-weight: 600;
  left: 50%;
  opacity: 0.9;
  padding: 2vh 0;
  position: relative;
  text-transform: uppercase;
  top: 8%;
  transform: translate(-50%, -50%);
  width: 105%;
}
.reviews-resenas {
  background-position: center center;
  background-image: url(../images/Exhibitions/collective.jpg);
  background-size: contain;
  flex: 1;
  margin: 2vh 8vw 5vh 1.5vw;
  min-height: 81vh;
  opacity: 0.8;
  text-decoration: none;
}
.reviews-resenas h1 {
  background-color: goldenrod;
  color: #fff;
  display: block;
  font-size: 1.5rem;
  font-weight: 600;
  left: 50%;
  opacity: 0.9;
  padding: 2vh 0;
  position: relative;
  text-transform: uppercase;
  top: 8%;
  transform: translate(-50%, -50%);
  width: 105%;
}

/* CRITICAS MAIN PAGE */

.accordion-container {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  margin-bottom: 4vh;
  text-align: center;
  width: 100%;
}
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0 8vw 2vh;
  padding: 18px;
  text-align: center;
  border: none;
  outline: none;
  transition: 0.4s;
  width: auto;
}
.accordion span {
  font-size: 1rem;
  font-weight: 200;
}
.accordion:first-child {
  margin-top: 4vh;
}
.active, .accordion:hover {
  background-color: #ccc;
}
.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}
.panel h1 {
  color: #4c4c4c;
  font-size: 2rem;
  font-weight: 600;
  margin: 0 0 3vh;
  padding: 3vh 0;
  text-align: center;
}
.panel h2 {
  color: #4c4c4c;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 1vh 4vw;
  padding: 3vh 0;
  text-align: center;
}
.panel p {
  font-size: 1.1rem;
  font-weight: 200;
  line-height: 1.8;
  padding: 0 20vw 3vh;
  text-align: justify;
}
.panel .quote {
  border: 2px solid #db6600;
  font-size: 1.1rem;
  font-weight: 200;
  line-height: 1.8;
  margin: 1vh 22vw 4vh;
  padding: 2vh 2vw;
  text-align: center;
}
.quote span {
  font-size: 1rem;
  font-weight: 400;
}
.fa-quote-left {
  color: #db6600;
  font-size: 3vw;
  padding: 0 1vw 0 0
}
.download-pdf {
  margin-bottom: 5vh;
}
.download-pdf a {
  text-align: center;
}
/* CONTACT FORM STYLES */

.contact-wrapper {
  align-content: flex-start;
  display: flex;
  flex: 1 1 0;
  flex-direction: row;
  text-align: center;
  width: 100%;
}
.contact-image {
  background-position: center center;
  background-image: url(../images/Biography/biography_hero_3-1.JPG);
  background-size: cover;
  flex: 2 1 0;
  margin: 4vh 0 5vh 8vw;
}
.contact-copy {
  box-sizing: border-box;
  flex: 3 1 0;
  padding: 4vh 4vw 5vh 4vw;
}
.contact-copy h1 {
  color: #4c4c4c;
  font-size: 2.5vw;
  font-weight: 600;
}
.contact-copy p {
  color: #4c4c4c;
  font-size: 1.15vw;
  font-weight: 400;
  line-height: 1.6;
  padding: 2vh 4vw 1vh;
}
.contact-copy-text {
  padding: 0 0 2vh;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], input[type=email], input[type=message], input[type=tel], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #4c4c4c; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 1.8vh; /* Add a top margin */
  margin-bottom: 3vh; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
button[type=submit] {
  background-color: #4c4c4c;
  color: white;
  padding: 12px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

/* When moving the mouse over the submit button, add a darker green color */
button[type=submit]:hover {
  background-color: #db6600;
}

/* Add a background color and some padding around the form */
.contact-copy-form{
  border-radius: 5px;
  background-color: #fff;
  padding: 0 14vw;

}
label {
  font-family: 'Raleway', Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 200;
}

/* MEDIUM - TABLET DEVICES */

@media (max-width: 1025px) and (orientation:portrait) {

  .hide-in-tablet {
    display: none;
  }
  .generic-main-content {
    margin: 2vh 18vw 5vh;
  }
  .generic-main-content h1 {
    font-size: 3.5vw;
  }
  .generic-main-content p {
    font-size: 2.5vw;
  }
  .generic-main-content h2 {
    font-size: 3vw;
    padding-bottom: 0;
  }

  /* TABLET HEADER STYLES */

  .header-logo a {
    font-size: 4vh;
  } 
  .drop-trigger,
  .show-mobile-menu {
  font-size: 0.9rem;
}

  /* TABLET MOBILE MENU */
  .show-mobile-menu {
    display: block;
    float: right;
    font-size: 5vh;
    /* margin-top: 4.5vh; */
    padding: 0 10vw 0 0;
    position: relative;
  }
  .header-nav {
    background-color: #4c4c4c;
    box-sizing: border-box;
    left: 0;
    max-height: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 15vh;
    transition: all 0.5s ease-in-out;
    width: 100vw;
    z-index: 9;
  }
  .header-nav li {
    display: block;
    margin-top: 1.5em;
  }
  .header-nav li {
    border: 0;
    padding: 0;
  }
  .header-nav li:first-child {
    margin-top: 3vh;
  }
  .header-nav li:last-child {
    margin-bottom: 3vh;
  }
  .header-nav li a {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 4vw;
    font-weight: 200;
  }
  /* HIDE DROPDOWN IN THE NAV MENU */
  .header-nav .dropdown:hover .drop-menu,
  .header-nav .drop-trigger:after {
    display: none;
  }
  .header-nav .drop-trigger {
    padding-right: 0;
  }
  .mobile-menu-check:checked ~ .header-nav {
    max-height: 1000px;
  }

  /* FOOTER STYLES */

  .footer-nav li ~ li {
    padding-left: 1.5rem;
  }
  .footer-nav a {
    font-size: 2.2vh;
  }

  /* TABLET CALLOUT STYLES */

.callout-section-content h1 {
  font-size: 6vw;
  top: 94%;
}
.callout-about-image {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url(../images/pedro_studio_upscaled_image_x4.jpg);
  background-position: center center;
  background-size: cover;
}
.hero-quote {
  top: 21%;
}
.hero-quote q {
  font-size: 1.8vw;
  font-weight: 400;;
  opacity: 0.9;
}

  /* WORKS PAGE TABLET */

  .works-images {
    padding: 1vh 0;
  }
  .works-images img {
    height: 70vw;
    width: 70vw;
  }
  .works-copy-wrapper {
    padding: 0 6vw 0;
  }
  .works-title h3 {
    font-size: 4vw;
    padding: 3vh 0;
    top: 22%;
    width: 75vw;
  }
  .works-header {
    padding: 3vh 14vw;
  }
  .works-header h1 {
    font-size: 8vw;
  }
  .works-header p {
    font-size: 2.8vw;
  }
  .works-subheader {
    padding: 2vh 18vw 0;
  }
  .works-subheader h1 {
    font-size: 4rem;
  }
  .works-subheader p {
    font-size: 2.8vw;
    line-height: 1.6;
  }

/* PAINTINGS TABLET LANDING PAGE STYLES */

.paintings-heading {
  font-size: 7vw;
  padding: 3vh 16vw 0;
}
.work-type-text {
  font-size: 2.5vw;
  padding: 2vh 12vw 4vh;
}
.work-type-heading {
  font-size: 4vw;
}
.latest-series-image {
  margin: 2vh 8vw 3vh 8vw;
  min-height: 40vh;
  opacity: 0.7;
}
.latest-series-content {
  padding: 1vh 0;
  top: 35%;
}
.latest-series-content h1 {
  font-size: 4vw;
  padding: 1vh 2vw;
  text-transform: uppercase;
}
.latest-series-content h2 {
  font-size: 3vw;
}
.latest-series-content h3 {
  font-size: 2.5vw;
  padding: 2vh 0;
}
.sub-series-content {
  padding: 2vh 0;
  top: 78%;
  width: 70%;
}
.sub-series-content h1 {
  font-size: 3vw;
  padding: 2vh 2vw;
}
.sub-series-content h2 {
  font-size: 1.2rem;
  padding: 0 2vw;
}
.sub-series-content h3 {
  font-size: 2.5vw;
  padding: 1vh 0 0;
}
.series-wrapper {
  flex-direction: column;
  justify-content: center;
  margin: 0 10vw;
}
.series-link-item {
  height: 38vh;
  margin: 0 0 3vh;
  width: 100%;
}
.second-series-image {
  background-image: url(../images/paintings/1993-2006_main/murmullos_2_l.jpg);
  background-size: cover;
}

.gallery-line {
  flex-direction: column;
}
.gallery-item {
  flex: 1;
}
.gallery-item-dates {
  height: 50vh;
}
.gallery-item-normal,
.gallery-item-portrait {
  height: 40vh;
  width: auto;
  margin: 0 auto 23vh;
}
.gallery-item-normal-no-fade,
.gallery-item-portrait-no-fade {
  height: 40vh;
  width: auto;
  margin: 0 auto 6vh;
}
.gallery-image-square,
.gallery-image-square-no-fade,
.gallery-image-portrait,
.gallery-image-portrait-no-fade {
  height: 100%;
  object-fit: contain;
  position: initial;
  margin: 0 auto;
  width: auto;
}
.gallery-image-series {
  width: 85vw;
  height: 100%;
}
.gallery-image {
  transform: none;
  transition: none;
}
.overlay-title {
  background-color: #4c4c4c;
  height: 20%;
  left: 50%;
  opacity: 0.7;
  top: 15%;
  transition: none;
  width: 100%;
}
.gallery-item:hover .gallery-image-square,
.gallery-item:hover .gallery-image-portrait,
.gallery-item:hover .gallery-image-series {
  opacity: 1;
}
.overlay {
  background-color: transparent;
  height: 100%;
  left: 50%;
  opacity: 1;
  top: 122%;
  transition: none;
  width: 100%;
}
.overlay-text {
  color: #fff;
  font-size: 4.5vw;
  transition: none;
}
.overlay-text-details {
  color: #4c4c4c;
  font-size: 2.8vw;
  width: 200%;
}

/* BIOGRAPHY TABLET PAGE STYLES */

.biography-hero-image {
  height: 50vh;
  background-size: cover;
}
.biography-hero-content {
  left: 50%;
  top: 90%;
}
.biography-hero-content h1 {
  color:rgba(255, 255, 255, 0.6);
  font-size: 5vw;
  font-weight: 600;
}
.portrait-photo-gallery {
  flex: 1;
  padding: 3vh 0 0;
  margin: 10px 0 0;
  text-align: center;
}
.portrait-photo-gallery img {
  height: 25vh;
  transition: 1s;
  padding: 0 1vw;
  width: auto;
}

/* EXHBITION LANDING TABLET PAGE STYLES */

.upcoming-exhibitions-image {
  margin: 0 4vw 5vh 4vw;
  min-height: 82vh;
}
.upcoming-exhibitions-content {
  left: 50%;
  padding: 1vh 0;
  top: 50%;
  width: 98%;
}
.upcoming-exhibitions-content h1 {
  font-size: 6.5vw;
  padding: 2vh 0 0;
}
.upcoming-exhibitions-content h2 {
  font-size: 4.5vw;
  padding: 2vh 2vw;
}
.upcoming-exhibitions-content h3 {
  font-size: 3.5vw;
  font-weight: 400;
  padding: 0 0 2vh;
}
.exhibitions-lists-wrapper, 
.exhibitions-lists-wrapper-single {
  display: flex;
  flex: 1 1 0;
  flex-direction: row;
  text-align: center;
  width: 100%;
}
.exhibitions-individual {
  margin: 1vh 1.5vw 1vh 4vw;
  min-height: 41vh;
}
.exhibitions-individual h1 {
  font-size: 2.5vw;
  top: 10%;
  width: 90%;
}
.exhibitions-collective {
  margin: 1vh 4vw 1vh 1.5vw;
  min-height: 41vh;
}
.exhibitions-collective h1 {
  /* background-color: #4c4c4c; */
  font-size: 2.5vw;
  top: 10%;
  width: 90%;
}
.exhibitions-museum {
  margin: 1vh 4vw 4vh;
  min-height: 41vh;
}
.exhibitions-museum h1 {
  font-size: 2.5vw;
  top: 15%;
  width: 90%;
}

/* MEDIA PAGE STYLES */

.photo-gallery img {
  height: auto;
  width: 70vw;
}


/* CRITICAS TABLET MAIN PAGE */

.accordion {
  font-size: 3vw;
}
.accordion span {
  font-size: 2.3vw;
}
.panel h1 {
  font-size: 3.5vw;
}
.panel h2 {
  font-size: 2.8vw;
}
.panel p {
  font-size: 2.5vw;
  padding: 0 12vw 3vh;
}
.panel .quote {
  font-size: 2.5vw;
  margin: 1vh 16vw 4vh;
}
.quote span {
  font-size: 2.2vw;
}

/* CONTACT FORM TABLET */

.contact-wrapper {
  flex-direction: column;
}
.contact-image {
  background-image: url(../images/pedro_studio.jpg);
  margin: 0 3vw 2vh;
  min-height: 35vh;
}
.contact-copy {
  flex: 1 1 0;
}
.contact-copy h1 {
  font-size: 5vw;
}
.contact-copy p {
  font-size: 2.5vw;
  padding: 3vh 8vw 3vh;
}
.contact-copy-form{
  padding: 0 18vw;
}
input[type=text], input[type=email], input[type=message], input[type=tel], select, textarea {
  padding: 24px; /* Some padding */ 
  margin-top: 1vh; /* Add a top margin */
  margin-bottom: 3vh; /* Bottom margin */
}
button[type=submit] {
  font-size: 3vw;
}
label {
  font-size: 2.5vw;
  font-weight: 400;
}

}


/* X-SMALL: PORTRAIT MOBILE STYLES */
/* MAX-WIDTH: 575px */

@media (max-width: 566px) and (orientation:portrait) {

.hide-in-mobile {
  display: none;
}
.generic-main-content {
  margin: 2vh 10vw 5vh;
}
.generic-main-content h1 {
  font-size: 5.5vw;
}
.generic-main-content p {
  font-size: 3.5vw;
}
.generic-main-content h2 {
  font-size: 4.5vw;
  padding-bottom: 0;
}
.portrait-photo-gallery {
  margin: 0;
}
.portrait-photo-gallery img {
  height: 81vh;
  padding: 0 0 2vh;
}

  /* 1-M-P MOBILE HEADER STYLES */

.header-logo a {
  font-size: 7vw;
}
.header-nav a,
.drop-trigger,
.show-mobile-menu {
  font-size: 1rem;
}

/* MOBILE MENU */
.show-mobile-menu {
  display: block;
  float: right;
  font-size: 4vh;
  padding: 0 10vw 0 0;
  position: relative;
}
.header-nav li {
  margin-top: 1em;
}
.header-nav li a {
  font-size: 4.4vw;
}

/* MOBILE FOOTER STYLES */

.footer-nav {
  padding: 0vh 8vw 8vh;
  text-align: center;
}
.footer-nav li {
  display: inline-block;
  list-style: none;
}
.footer-nav li ~ li {
  padding-left: 0;
}
.footer-nav a {
  border: 1px solid #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 6vw;
  font-weight: 200;
  padding: 10px;
  text-transform: uppercase;
}
.footer-nav .hide {
  display: none;
}
.footer-image img {
  border-radius: 50%;
  display: inline-block;
  height: 25vh;
  left: 50%; 
  object-fit: cover;
  padding: 5vh 0;
  position: relative;
  transform: translate(-50%, 0); 
  width: 25vh;
}

/* CALLOUT MOBILE PAGE STYLES */

.callout-section-content {
  top: 90%;
}
.callout-section-content h1 {
  font-size: 8.5vw;
}
.hero-quote {
  top: 22%;
}
.hero-quote q {
  font-size: 2vw;
  font-weight: 400;
  letter-spacing: .3rem;
  opacity: 0.9;
}

/* WORKS MOBILE PAGE STYLES */

.works-header {
  padding: 5vh 5vw;
}
.works-subheader {
  padding: 2vh 5vw;
}
.works-header h1 {
  font-size: 8vw;
  padding-bottom: 0;
}
.works-subheader h1 {
  font-size: 7vw;
}
.works-header p {
  font-size: 1.1rem;
  padding: 0 4vw;
}
.works-subheader p {
  font-size: 4vw;
  line-height: 1.6;
}
.works-copy-wrapper {
  align-items: top;
  flex-direction: column;
  padding: 0;
}
.works-title h3 { 
  font-size: 4.5vw;
  padding: 2vh 0;
  top: 25%;
  width: 80vw;
}
.works-images {
  padding: 3vh 0 0;
}
.works-images img {
  height: 75vw;
  width: 75vw;
}
.work-type-text {
  font-size: 3.5vw;
  padding: 3vh 6vw 1vh;
}
.work-type-heading {
  font-size: 5.5vw;
}
.justify {
  text-align: justify;
}

/* PAINTING SERIES MOBILE STYLES */

.latest-series-image {
  margin: 2vh 8vw 3vh 8vw;
  min-height: 40vh;
  opacity: 0.7;
}
.latest-series-content {
  opacity: 0.9;
  padding: 1vh 0;
  top: 35%;
}
.latest-series-content h1 {
  font-size: 1.3rem;
  padding: 1vh 2vw;
  text-transform: uppercase;
}
.latest-series-content h2 {
  font-size: 1.15rem;
}
.latest-series-content h3 {
  font-size: 1rem;
  padding: 2vh 0;
}
.sub-series-content {
  padding: 2vh 0;
  top: 85%;
  width: 70%;
}
.sub-series-content h1 {
  font-size: 3.5vw;
  padding: 1vh 8vw;
}
.sub-series-content h3 {
  font-size: 3vw;
  padding: 2vh 0 0;
}
.series-wrapper {
  flex-direction: column;
  justify-content: center;
  margin: 0 10vw;
}
.series-link-item {
  max-height: 38vh;
  margin: 0 0 3vh;
}
.second-series-image {
  background-size: cover;
}
.third-series-image {
  background-size: cover;
}
.fourth-series-image {
  background-size: cover;
}
.gallery-item-normal,
.gallery-item-portrait {
  height: 36vh;
  margin: 0 auto 23vh;
}
.gallery-item-normal-no-fade,
.gallery-item-portrait-no-fade {
  height: 36vh;
  margin: 0 auto 6vh;
}
.gallery-image-square,
.gallery-image-square-no-fade,
.gallery-image-portrait,
.gallery-image-portrait-no-fade {
  height: 100%;
  object-fit: cover;
  position: initial;
  margin: 0 auto;
  width: auto;
}
.overlay {
  top: 122%;
}
.overlay-text-details {
  color: #4c4c4c;
  font-size: 3.4vw;
  width: 150%;
}
.final-item {
  margin-bottom: 0;
}

/* CONTACT FORM MOBILE STYLES */

.contact-copy {
  flex: 1 1 0;
  padding: 1vh 4vw 5vh 4vw;
}
.contact-copy h1 {
  font-size: 7vw;
  font-weight: 600;
}
.contact-copy p {
  font-size: 4.2vw;
  padding: 4vh 3vw 3vh;
}
.contact-copy-form{
  padding: 0 12vw;
}
label {
  font-size: 4.5vw;
  font-weight: 200;
}
input[type=text], input[type=email], input[type=message], input[type=tel], select, textarea {
  margin-bottom: 4vh; 
  margin-top: 2vh; 
}

/* BIOGRAPHY MAIN PAGE MOBILE STYLES */

.biography-hero-image {
  background-image: url(../images/biography_hero_3.jpg);
  background-position: center top;
  background-size: cover;
  height: 65vh;
  margin: 0 8vw 5vh;
  position: relative;
}
.biography-hero-content {
  left: 65%;
  top: 12%;
}
.biography-hero-content h1 {
   color:rgba(255, 255, 255, 0.8);
  font-size: 7.5vw;
}

/* MEDIA PAGE STYLES */

.photo-gallery {
  flex-wrap: no-wrap;
}

.photo-gallery img {
  height: auto;
  width: 80vw;
}


/* EXHBITION LANDING MOBILE PAGE STYLES */

.upcoming-exhibitions-image {
  margin: 0 4vw 5vh 4vw;
  min-height: 82vh;
}
.upcoming-exhibitions-content {
  left: 50%;
  padding: 1vh 0;
  top: 50%;
  width: 98%;
}
.upcoming-exhibitions-content h1 {
  font-size: 8vw;
  padding: 3vh 0 0;
}
.upcoming-exhibitions-content h2 {
  font-size: 5.5vw;
  padding: 2vh 2vw;
}
.upcoming-exhibitions-content h3 {
  font-size: 4vw;
  font-weight: 400;
  padding: 0 0 3vh;
}

.exhibitions-lists-wrapper {
  flex-direction: column;
  height: 80vh;
  text-align: center;
}
.exhibitions-individual {
  background-size: contain;
  margin: 4vh 2vw 2vh;
  min-height: 30vh;
}
.exhibitions-individual h1 {
  font-size: 5vw;
  padding: 2vh 0;
  top: 15%;
  width: 90%;
}
.exhibitions-collective {
  background-size: contain;
  margin: 2vh 2vw 2vh;
  min-height: 30vh;
}
.exhibitions-collective h1 {
  font-size: 5vw;
  padding: 2vh 0;
  top: 15%;
  width: 90%;
}
.exhibitions-museum {
  background-size: cover;
  margin: 2vh 2vw 4vh;
  min-height: 34vh;
}
.exhibitions-museum h1 {
  font-size: 4.4vw;
  padding: 2vh 0;
  top: 15%;
  width: 90%;
} */

/* EXHBITION SUBPAGE MOBILE STYLES */

.exhibition-subpage-individual-images {
  display: none;
}

/* CRITICAS MOBILE MAIN PAGE */

.accordion {
  font-size: 3.8vw;
}
.accordion span {
  font-size: 2.8vw;
}
.panel h1 {
  font-size: 5.5vw;
}
.panel h2 {
  font-size: 4vw;
}
.panel p {
  font-size: 3.5vw;
  padding: 0 6vw 3vh;
}
.panel .quote {
  font-size: 3.5vw;
  margin: 1vh 6vw 4vh;
}
.quote span {
  font-size: 3vw;
}

}

/* LANDSCAPE TABLET STYLES */
/* MAX-WIDTH: 1024px */

@media (max-width: 1024px) and (orientation:landscape) {

  /* LANDSCAPE TABLETS HEADER STYLES */

/* TABLET MOBILE MENU */
.show-mobile-menu {
  display: block;
  float: right;
  font-size: 5vh;
  /* margin-top: 4.5vh; */
  padding: 0 10vw 0 0;
  position: relative;
}
.header-nav {
  background-color: #4c4c4c;
  box-sizing: border-box;
  left: 0;
  max-height: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  text-align: center;
  top: 15vh;
  transition: all 0.5s ease-in-out;
  width: 100vw;
  z-index: 9;
}
.header-nav li {
  display: block;
  margin-top: 1.5em;
}
.header-nav li {
  border: 0;
  padding: 0;
}
.header-nav li:first-child {
  margin-top: 3vh;
}
.header-nav li:last-child {
  margin-bottom: 3vh;
}
.header-nav li a {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 2vw;
  font-weight: 200;
}
/* HIDE DROPDOWN IN THE NAV MENU */
.header-nav .dropdown:hover .drop-menu,
.header-nav .drop-trigger:after {
  display: none;
}
.header-nav .drop-trigger {
  padding-right: 0;
}
.mobile-menu-check:checked ~ .header-nav {
  max-height: 1000px;
}

/* LANDSCAPE TABLET PAINTINGS STYLES */

.gallery-item-normal,
.gallery-item-portrait {
  height: 25vh;
  width: 25vw;
  margin: 0 1vw 20vh;
}
.gallery-item-normal-no-fade,
.gallery-item-portrait-no-fade {
  height: 25vh;
  width: 25vw;
  margin: 0 1vw 6vh;
}
.gallery-image-series {
	width: 40vw;
	height: 40vh;
	object-fit: cover;
}
.gallery-image-square,
.gallery-image-square-no-fade {
  left: 0%;
  max-height: 100%;
	max-width: 100%;
	height: auto;
  object-fit: contain;
  position: absolute;
  margin: 0 auto;
  top: 0%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.gallery-image-portrait,
.gallery-image-portrait-no-fade {
  left: 50%;
  max-height: 100%;
	max-width: 100%;
	height: 100%;
  object-fit: contain;
  position: initial;
  margin: 0 auto;
  top: 0%;
  transform: translate(-50%, -50%);
  width: auto;
}
.gallery-image {
  transform: none;
  transition: none;
}
.overlay {
  background-color: transparent;
  height: 100%;
  left: 50%;
  opacity: 1;
  top: 135%;
  transition: none;
  width: 100%;
}
.overlay-text-details {
  color: #4c4c4c;
  font-size: 1.05vw;
  width: 100%
}
.overlay-title {
  background-color: #4c4c4c;
  height: 20%;
  left: 50%;
  opacity: 0.7;
  top: 15%;
  transition: none;
  width: 100%;
}
.overlay-text {
  color: white;
  font-size: 2.5vw;
}


}

/* LANDSCAPE TABLET STYLES */
/* MAX-WIDTH: 1366px */

@media (max-width: 1366px) and (orientation:landscape) {

  /* LANDSCAPE TABLET GLOBAL STYLES */

.generic-main-content {
  line-height: 1.6;
  margin: 2vh 22vw 5vh;
}
.generic-main-content h1 {
  font-size: 3.5vh;
}
.generic-main-content p {
  font-size: 2vh;
  padding: 0 6vw 1vh;
}
.portrait-photo-gallery {
  margin: 10px 0 0;
}
.portrait-photo-gallery img {
  height: 20vh;
  padding: 0 1vw;
}
.generic-main-content h2 {
  font-size: 2.5vh;
  padding-bottom: 1vh;
}
.work-type-heading {
  font-size: 5vh;
}
.work-type-text {
  font-size: 2.5vh;
}

/* LANDSCAPE TABLETS CALLOUT STYLES */

.callout-section-content h1 {
  font-size: 3.4vw;
  padding: 0;
  top: 93%;
}
.hero-quote {
  top: 47%;
}
.hero-quote q {
  font-size: 1.3vw;
  font-weight: 400;
  letter-spacing: .4rem;
  line-height: 1.5;
}

/* WORKS LANDSCAPE TABLETS PAGE STYLES */

.works-header h1 {
  font-size: 5vw;
  padding: 3vh 0 3vh;
}
.works-title h3 {
  font-size: 1.8vw;
  padding: 2vh 0;
  width: 28vw;
}
.works-images {
  padding-bottom: 5vh;
}
.works-images img {
  height: 27vw;
  width: 27vw;
}
.works-copy-wrapper {
  padding: 3vh 2vw;
} */


/* LANDSCAPE TABLET EXHIBITION STYLES */

.upcoming-exhibitions-image {
  margin: 0 4vw 2vh;
  min-height: 85vh;
}
.upcoming-exhibitions-content {
  top: 55%;
}
.upcoming-exhibitions-content h1 {
  font-size: 5.5vw;
}
.upcoming-exhibitions-content h2 {
  font-size: 4vw;
}
.upcoming-exhibitions-content h3 {
  font-size: 3.2vw;
}
.exhibitions-lists-wrapper {
  flex-direction: row;
  text-align: center;
}
.exhibitions-individual {
  margin: 2vh 1vw 2vh 4vw;
  min-height: 60vh;
}
.exhibitions-individual h1 {
  font-size: 2vw;
  padding: 3vh 0;
  top: 15%;
  width: 90%;
}
.exhibitions-collective {
  margin: 2vh 4vw 2vh 1vw;
  min-height: 60vh;
}
.exhibitions-collective h1 {
  /* background-color: #4c4c4c; */
  font-size: 2vw;
  padding: 3vh 0;
  top: 15%;
  width: 90%;
}
.exhibitions-museum {
  margin: 2vh 4vw 4vh;
  min-height: 60vh;
}
.exhibitions-museum h1 {
  font-size: 2vw;
  padding: 3vh 0;
  top: 15%;
  width: 90%;
} 

/* LANDSCAPE TABLET BIOGRAPHY PAGE STYLES */

.biography-hero-image {
  height: 81vh;
  background-size: cover;
}
.biography-hero-content {
  left: 50%;
  top: 90%;
}
.biography-hero-content h1 {
  color:rgba(255, 255, 255, 0.7);
  font-size: 4vw;
  font-weight: 200;
}

/* CRITICAS TABLET LANDSCAPE MAIN PAGE */

.accordion {
  font-size: 3vh;
}
.accordion span {
  font-size: 2vh;
}
.panel h1 {
  font-size: 3.5vh;
  margin-top: 3vh;
}
.panel h2 {
  font-size: 3vh;
}
.panel p {
  font-size: 2.3vh;
  padding: 0 12vw 3vh;
}
.panel .quote {
  font-size: 2vw;
  margin: 2vh 16vw 6vh;
}
.quote span {
  font-size: 1.8vw;
}

/* MEDIA STYLES */

.photo-gallery img {
  height: 20vh;
  width: auto;
}

/* LANDSCAPE TABLET CONTACT FORM STYLES */

.contact-wrapper {
  flex-direction: row;
}
.contact-image {
  background-size: cover;
  flex: 2 1 0;
  margin: 2vh 0 2vh 8vw;
}
.contact-copy {
  flex: 3 1 0;
  padding: 2vh 0 5vh;
}
.contact-copy h1 {
  font-size: 4vh;
}
.contact-copy p {
  font-size: 2vh;
  padding: 4vh 5vw 0;
}
.contact-copy-form{
  padding: 3vh 10vw;
}
label {
  font-size: 2vh;
  font-weight: 400;
}
input[type=text], input[type=email], input[type=message], input[type=tel], select, textarea {
  margin-bottom: 4vh; 
  margin-top: 2vh; 
}

}

/* SMALL: LANDSCAPE MOBILE STYLES */
/* MAX-WIDTH: 767px */

@media (max-width: 767px) and (orientation:landscape) {

/* LANDSCAPE MOBILE GLOBAL STYLES */

.generic-main-content {
  line-height: 1.8;
  margin: 2vh 18vw 5vh;
}
.generic-main-content h1 {
  font-size: 3vw;
}
.generic-main-content p {
  font-size: 2vw;
  padding: 0 6vw 3vh;
}
.portrait-photo-gallery {
  margin: 10px 0 0;
}
.portrait-photo-gallery img {
  height: 81vh;
  padding: 0 1vw;
}
.generic-main-content h2 {
  font-size: 2.5vw;
  padding-bottom: 0;
}
.hide-in-mobile {
  display: none;
}

/* LANDSCAPE MOBILE DROPDOWN MENU */

.header-nav li {
  margin-top: 0.8rem;
}
.header-nav li:first-child{
  margin-top: 1.2rem;
}
.header-nav li:last-child{
  margin-bottom: 1.2rem;
}
.header-nav li a {
  font-size: 3vw;
}

/* LANDSCAPE MOBILE FOOTER STYLES */

.footer-nav {
  padding: 0vh 8vw 8vh;
  text-align: center;
}
.footer-nav li {
  display: inline-block;
  list-style: none;
}
.footer-nav li ~ li {
  padding-left: 0;
}
.footer-nav a {
  border: 1px solid #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 6vh;
  font-weight: 200;
  padding: 10px;
  text-transform: uppercase;
}
.footer-nav .hide {
  display: none;
}
.footer-image img {
  border-radius: 50%;
  display: inline-block;
  height: 30vh;
  left: 50%; 
  margin-bottom: 3vh;
  object-fit: cover;
  padding: 5vh 0 5vh;
  position: relative;
  transform: translate(-50%, 0); 
  width: 30vh;
}

/* LANDSCAPE MOBILE CALLOUT PAGE STYLES */

.callout-section-content h1 {
  font-size: 1.9rem;
  top: 90%;
}
.callout-works-image {
  background-position: bottom center;
}
.hero-quote  {
  top: 32%;
}
.hero-quote q {
  font-size: 1.2vw;
  font-weight: 400;
  letter-spacing: .3rem;
  opacity: 0.9;
}

/* LANDSCAPE MOBILE EXHIBITION STYLES */

.upcoming-exhibitions-image {
  margin: 0 4vw 2vh;
  min-height: 85vh;
}
.upcoming-exhibitions-content {
  top: 55%;
}
.upcoming-exhibitions-content h1 {
  font-size: 5.5vw;
}
.upcoming-exhibitions-content h2 {
  font-size: 4vw;
}
.upcoming-exhibitions-content h3 {
  font-size: 3.2vw;
}
.exhibitions-lists-wrapper {
  flex-direction: row;
  text-align: center;
}
.exhibitions-individual {
  margin: 2vh 1vw 2vh 4vw;
  min-height: 70vh;
}
.exhibitions-individual h1 {
  font-size: 2.6vw;
  padding: 3vh 0;
  top: 15%;
  width: 90%;
}
.exhibitions-collective {
  margin: 2vh 4vw 2vh 1vw;
  min-height: 70vh;
}
.exhibitions-collective h1 {
  /* background-color: #4c4c4c; */
  font-size: 2.6vw;
  padding: 3vh 0;
  top: 15%;
  width: 90%;
}
.exhibitions-museum {
  margin: 2vh 4vw 4vh;
  min-height: 70vh;
}
.exhibitions-museum h1 {
  font-size: 2.6vw;
  padding: 3vh 0;
  top: 15%;
  width: 90%;
} 

/* LANDSCAPE MOBILE WORKS PAGE STYLES */

.works-header h1 {
  font-size: 5vw;
  padding: 5vh 0;
}
.works-header p {
  font-size: 2.7vw;
}
.works-box {
  margin: 0 2vw;
}
.works-copy-wrapper {
  padding: 2vh 2vw 10vh;
}
.works-images {
  padding: 5vh 0 5vh
}
.works-images img {
  height: 27vw;
  width: 27vw;
}
.works-title {
  margin: 0 0 4vh;
}
.works-title h3 {
  font-size: 1.4vw;
} */
.work-type-text {
  font-size: 2vw;
  padding: 3vh 13vw 1vh;
}
.work-type-heading {
  font-size: 3vw;
  font-weight: 600;
  line-height: 1.2;
}

/* PAINTING SERIES LANDSCAPE MOBILE STYLES */

.latest-series-image {
  margin: 2vh 8vw 3vh 8vw;
  min-height: 81vh;
}
.latest-series-content {
  opacity: 0.9;
  padding: 2vh 0;
  top: 55%;
}
.latest-series-content h1 {
  font-size: 1.4rem;
  padding: 2vh 2vw;
}
.latest-series-content h2 {
  font-size: 1.1rem;
}
.latest-series-content h3 {
  font-size: 0.95rem;
  padding: 2vh 0;
}
.sub-series-content {
  padding: 3vh 0;
  top: 85%;
  width: 50%;
}
.sub-series-content h1 {
  font-size: 2.5vw;
  padding: 2vh 6vw;
}
.sub-series-content h2 {
  font-size: 0.9rem;
  padding: 2vh 2vw;
}
.sub-series-content h3 {
  font-size: 0.9rem;
  padding: 2vh 0 0;
}
.series-wrapper {
  flex-direction: column;
  justify-content: center;
  margin: 0 10vw;
}
.series-link-item {
  max-height: 75vh;
  margin: 1vh 0 3vh;
}
.gallery {
  margin: 6vh 0;
}
.gallery-line {
  flex-direction: row;
  margin: 0 auto;
}
.gallery-item-normal,
.gallery-item-portrait {
  height: 30vh;
  width: 25vw;
  margin: 0 1vw 20vh;
}
.gallery-item-normal-no-fade,
.gallery-item-portrait-no-fade {
  height: 30vh;
  width: 25vw;
  margin: 0 1vw 6vh;
}
.gallery-image-square,
.gallery-image-square-no-fade {
  left: 0%;
  max-height: 100%;
	max-width: 100%;
	height: auto;
  object-fit: contain;
  position: absolute;
  margin: 0 auto;
  top: 0%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.gallery-image-portrait,
.gallery-image-portrait-no-fade {
  left: 50%;
  max-height: 100%;
	max-width: 100%;
	height: 100%;
  object-fit: contain;
  position: initial;
  margin: 0 auto;
  top: 0%;
  transform: translate(-50%, -50%);
  width: auto;
}
.gallery-image-series {
	width: 40vw;
	height: 50vh;
	object-fit: cover;
}
.gallery-image {
  transform: none;
  transition: none;
}
.overlay-title {
  background-color: #4c4c4c;
  height: 20%;
  left: 50%;
  opacity: 0.7;
  top: 15%;
  transition: none;
  width: 100%;
}
.overlay-text {
  color: white;
  font-size: 2.5vw;
}

/* LANDSCAPE MOBILE BIOGRAPHY PAGE STYLES */

.biography-hero-image {
  background-image: url(../images/images_new/Pedro_2009.jpg);
  height: 65vh;
}
.biography-hero-content {
  left: 50%;
  top: 90%;
}
.biography-hero-content h1 {
  font-size: 4vw;
  font-weight: 200;
}

/* CRITICAS MOBILE LANDSCAPE MAIN PAGE */

.accordion {
  font-size: 2.8vw;
}
.accordion span {
  font-size: 2vw;
}
.panel h1 {
  font-size: 3vw;
  margin-top: 3vh;
}
.panel h2 {
  font-size: 2.3vw;
}
.panel p {
  font-size: 2vw;
  padding: 0 8vw 3vh;
}
.panel .quote {
  font-size: 2vw;
  margin: 2vh 10vw 6vh;
}
.quote span {
  font-size: 1.8vw;
}

/* MEDIA STYLES */

.photo-gallery img {
  height: 81vh;
  width: auto;
}

/* LANDSCAPE MOBILE CONTACT FORM STYLES */

.contact-wrapper {
  flex-direction: column;
}
.contact-image {
  background-image: url(../images/pedro_studio.jpg);
  margin: 1vh 4vw 6vh;
  min-height: 65vh;
}
.contact-copy {
  padding: 0 4vw 5vh;
}
.contact-copy h1 {
  font-size: 8.4vh;
}
.contact-copy p {
  font-size: 4.2vh;
  padding: 4vh 10vw 3vh;
}
.contact-copy-form{
  padding: 3vh 12vw;
}
label {
  font-size: 2.3vw;
  font-weight: 200;
}
input[type=text], input[type=email], input[type=message], input[type=tel], select, textarea {
  margin-bottom: 6vh; 
  margin-top: 3vh; 
}

}

/* WIDE - DESKTOP DEVICES */

@media (min-width: 1600px) {

/* GENERAL STYLES */

.generic-main-content {
  line-height: 1.8;
  margin: 2vh 24vw 5vh;
}
.generic-main-content h1 {
  font-size: 2rem;
}
.generic-main-content p {
  font-size: 1.2rem;
  padding: 0 0 2vh;
}
.generic-main-content h2 {
  font-size: 1.4rem;
  font-weight: 600;;
  padding-bottom: 0;
}
.portrait-photo-gallery img {
  height: 30vh;
  width: auto;
}
.landscape-photo-gallery img {
  height: 450px;
  width: 600px;
}

/* WIDESCREEN HEADER STYLES */

.header-logo a {
  font-size: 3rem;
}
.header-nav a,
.drop-trigger,
.show-mobile-menu {
  font-size: 1.4rem;
}

/* WIDESCREEN DROPDOWN MENU */
.drop-menu a {
  font-size: 1.6rem;
}

/* WIDESCREEN FOOTER STYLES */
.footer-nav a {
  font-size: 1.5rem;
}
.footer-image img {
  height: 10rem;
  width: 10rem;
}

/* WIDESCREEN CALLOUT STYLES */

.callout-section-content h1 {
  font-size: 3rem;
  top: 92.5%;
}
.hero-quote {
  top: 50%;
}
.hero-quote q {
  font-size: 1.2rem;
}

/* WIDESCREEN WORKS PAGE STYLES */

.works-header,
.works-subheader {
  padding: 9vh 22vw 0;
}
.works-header h1 {
  font-size: 3rem;
  font-weight: 600;
}
.works-subheader h1 {
  font-size: 3rem;
}
.works-header p {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 4vh;
}
.works-title {
  margin: 0 0 4vh;
}
.works-title h3 {
  font-size: 1.5rem;
  width: 30vw;
}
.works-copy-wrapper {
  padding: 3vh 6vw 8vh;
}
.works-images img {
  height: 26.8vw;
  opacity: 1;
  width: 26.8vw;
}


/* WIDESCREEN ART/SERIES STYLES */

.work-type-heading {
  border-top: none;
  font-size: 2rem;
}
.work-type-text {
  font-size: 1.2rem;
  padding: 3vh 21vw 0;
}
.latest-series-image {
  opacity: 0.7;
}
.latest-series-content {
  opacity: 0.9;
}
.latest-series-content h1 {
  font-size: 3rem;
  padding: 2.5vh 2vw;
}
.latest-series-content h2 {
  font-size: 2rem;
  font-weight: 400;
}
.latest-series-content h3 {
  font-size: 1.8rem;
  font-weight: 200;
}
.sub-series-content {
  background-color: transparent;
  opacity: 1;
  /* padding: 3vh 0; */
  top: 120%;
  width: 90%;
}
.sub-series-content h1 {
  background-color: #4c4c4c;
  color: #fff;
  font-size: 1.5rem;
  padding: 2.5vh 2vw;
}
.sub-series-content h3 {
  color: #4c4c4c;
  font-size: 1.2rem;
}
.series-link-item {
  flex: 1 1 24rem;
  height: 35vh;
  margin: 0 1vw 3vh;
  opacity: 0.9;
}
.series-wrapper {
  margin: 0 7vw 10vh;
}
.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 4vh 0;
  width: 100%;
}
.gallery-line {
  align-items: center;
  display: flex;
  flex: 1;
  margin: 0vh 8vw;
}
.gallery-item {
  flex: 1;
  justify-self: center;
  margin: 1rem;
  position: relative;
}
.gallery-item-normal,
.gallery-item-normal-no-fade,
.gallery-item-portrait,
.gallery-item-portrait-no-fade {
  height: 40vh;
  width: 30vw;
}
.gallery-image-series {
	width: 40vw;
	height: 55vh;
	object-fit: cover;
}
.gallery-image-square,
.gallery-image-square-no-fade,
.gallery-image-portrait,
.gallery-image-portrait-no-fade {
  left: 50%;
  max-height: 95%;
	max-width: 95%;
	height: auto;
  object-fit: contain;
  position: absolute;
  margin: 0 auto;
  top: 50%;
  transform: translate(-50%, -50%);
}
.gallery-image {
  display: block;
  opacity: 1;
  transition-property: opacity, transform;
  transition-duration: 3s, 3s;
}
.overlay,
.overlay-title {
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 50%;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: .5s ease;
  background-color: transpredarent;
}
.gallery-item:hover .overlay,
.gallery-item:hover .overlay-title {
  opacity: 0.9;
  transition-property: opacity;
  transition-duration: 1s;
}
.gallery-item:hover .gallery-image-square,
.gallery-item:hover .gallery-image-series {
  opacity: 0.3;
}
.gallery-item .overlay-text {
  color: #4c4c4c;
  font-family: 'Raleway', sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.overlay-text-details {
  color: #4c4c4c;
  font-family: 'Raleway', sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.6;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 80%;
}
/* EXHBITION LANDING PAGE STYLES */

.upcoming-exhibitions-image {
  opacity: 0.5;
}
.upcoming-exhibitions-content h1 {
  font-size: 3.4rem;
}
.upcoming-exhibitions-content h2 {
  font-size: 3.6rem;
  padding: 2.5vh 2vw;
  text-transform: uppercase;
}
.upcoming-exhibitions-content h3 {
  font-size: 2.5rem;
  font-weight: 400;
}

/* BIOGRAPHY MAIN PAGE STYLES */

.biography-hero-image {
  height: 66vh;
}
.biography-hero-content {
  left: 50%;
  top: 90%;
}
.biography-hero-content h1 {
  color:rgba(255, 255, 255, 0.8);
  font-size: 4rem;
  font-weight: 200;
}

/* CONTACT FORM STYLES */

.contact-copy h1 {
  font-size: 2.5rem;
}
.contact-copy p {
  font-size: 1.2rem;
}
.contact-copy-text {
  padding: 0 6vw 4vh;
}
button[type=submit] {
  font-size: 1.6rem;
}
label {
  font-size: 1.3rem;
}

/* CRITICAS MAIN PAGE */

.accordion {
  font-size: 1.6rem;
  margin: 0 16vw 2vh;
}
.accordion span {
  font-size: 1.4rem;
}
.accordion:first-child {
  margin-top: 4vh;
}
.panel h1 {
  font-size: 2rem;
}
.panel h2 {
  font-size: 1.6rem;
}
.panel p {
  font-size: 1.2rem;
  padding: 0 22vw 3vh;
}
.panel .quote {
  font-size: 1.2rem;
  margin: 1vh 26vw 4vh;
}
.quote span {
  font-size: 1.1rem;
}

/* MEDIA STYLES */

.photo-gallery img {
  height: 20vh;
  width: auto;
}

}
