<footer class="footer">
  <!-- <ul class="footer-logo">
    <li><a href="/">Pedro Muiño</a></li>
  </ul> -->
  <div class="footer-image">
    <img src="/images/pedro_portrait.jpg" alt="Pedro Muiño Portrait">
  </div>
  <nav>
  <ul class="footer-nav nav-links">
    <li class="hide"><a href="/">Inicio</a></li>
    <li class="hide"><a href="/obra">Obra</a></li>
    <li class="hide"><a href="/exposiciones">Exposiciones</a></li>
    <li class="hide"><a href="/resenas">Reseñas</a></li>
    <li class="hide"><a href="/autor">Autor</a></li>
    <li><a href="/contacto">Contacto</a></li>
  </ul>
  <ul class="footer-nav nav-links">
    <li class="social">
      <a href="https://www.instagram.com/pedromuinofernandez/">
        <i class="fab fa-instagram"></i>
      </a>
    </li>
    <li class="social">
      <a href="https://www.facebook.com/pedro.muinofernandez">
        <i class="fab fa-facebook"></i>
      </a>
    </li>
  </ul>
  </nav>

  <p class="copyright">Copyright @ Stephen Kaye 2020</p>
</footer>
