<header class="header">
  <nav>
    <input type="checkbox" id="mobile-menu" class="mobile-menu-check">
    <label for="mobile-menu" class="show-mobile-menu"><i class="fas fa-bars"></i></label>
    <ul class="header-nav nav-links">
      <li><a href="/">Inicio</a></li>
      <li class="dropdown">
        <a class="drop-trigger" href="/works">Obra</a>
        <ul class="drop-menu">
          <li><a href="/paintings">Series</a></li>
          <li><a href="/paper">Papel</a></li>
          <li><a href="/sculptures">Escultura</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="drop-trigger" href="/exhibitions">Exposiciones</a>
        <ul class="drop-menu">
          <li><a href="/exhibitions/individuales/">Individuales</a></li>
          <li><a href="/exhibitions/colectivas">Colectivas</a></li>
          <li><a href="/exhibitions/museos">Museos y Colecciones</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="drop-trigger" href="/reviews">Archivo</a>
        <ul class="drop-menu">
          <li><a href="/reviews/bibliografia">Bibliografía</a></li>
          <li><a href="/reviews/resenas">Críticas</a></li>
          <li><a href="/writings">Textos</a></li>
          <li><a href="/media">Fotos y Videos</a></li>
        </ul>
      </li>
      <li><a href="/biografia/">Biografía</a></li>
      <li><a href="/contact">Contacto</a></li>
    </ul>
  </nav>
    <ul class="header-logo">
      <li><a href="/">Pedro Muiño</a></li>
    </ul> 
</header>