  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Pedro Muiño | Pintor</title>


    <meta name="author" content="Pedro Muiño">

    <meta name="description" content="Página web del autor gallego Pedro Muiño. Descubra su obra plástica, desde la figuración atlantista de los años 70 a la introspección de las series negras actuales.">

    <meta name="keywords" content="Pedro Muiño, Pedro Muino, pintor, pintura, obrá plástica, artista, artista plástico, Galicia, gallego, A Coruña, coruñés, Santiago, Alicante, pintura introspectiva, introspección, pintura onírica, surrealismo, figuración, pintura surrealista, pintura figurativa, figuración atlantista, gruporzán, Galga, grupo Atlántica, galician painter, spanish painter, Xurxo Gómez-Chao, Pepe Galán, Antón Mouzo, Cruz Perez Rubido, Alberte Permuy, Manolo Rivas, Xoti de Luis, Manuel Patinha, Xavier Seoane, Xaime Cabanas, Correa Corredoira, Jaime Tenreiro, Massimo Pisani, Ramón Urban, Chelin, Antón Patiño, Menchu Lamas">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/fonts/fontawesome-free-5.12.1-web/css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=Buenard:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/lightbox.min.css">
    <link rel="icon" href="/images/favicon.ico">
    <script src="/js/lightbox-plus-jquery.min.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-166828895-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-166828895-1'); 
    </script>

  </head>
