<header class="header">
  <nav>
    <input type="checkbox" id="mobile-menu" class="mobile-menu-check">
    <label for="mobile-menu" class="show-mobile-menu"><i class="fas fa-bars"></i></label>
    <ul class="header-nav nav-links">
      <li><a href="/">Inicio</a></li>
      <li class="dropdown">
        <a class="drop-trigger" href="/obra">Obra</a>
        <ul class="drop-menu">
          <li><a href="/series">Series</a></li>
          <li><a href="/papel">Papel</a></li>
          <li><a href="/escultura">Escultura</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="drop-trigger" href="/exposiciones">Exposiciones</a>
        <ul class="drop-menu">
          <li><a href="/exposiciones/individuales/">Individuales</a></li>
          <li><a href="/exposiciones/colectivas">Colectivas</a></li>
          <li><a href="/exposiciones/museos">Museos y Colecciones</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="drop-trigger" href="/resenas">Reseñas</a>
        <ul class="drop-menu">
          <li><a href="/resenas/bibliografia">Bibliografía</a></li>
          <li><a href="/resenas/criticas">Críticas</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="drop-trigger" href="/autor">Autor</a>
        <ul class="drop-menu">
          <li><a href="/biografia/">Biografía</a></li>
          <li><a href="/textos">Textos</a></li>
          <li><a href="/fotos">Fotos y Videos</a></li>
        </ul>
      </li>
      <li><a href="/contacto">Contacto</a></li>
    </ul>
  </nav>
    <ul class="header-logo">
      <li><a href="/">Pedro Muiño</a></li>
    </ul> 
</header>